# 항공사 종류가 몇개인지 검색하고 데이터프레임 형식과 어레이 형식으로 중복되지 않은 항공사를 출력하시오

In [1]:
import pandas as pd
airplane_info = pd.read_csv('../data/airplane_info.csv',encoding='cp949')

FileNotFoundError: [Errno 2] No such file or directory: '../data/airplane_info.csv'

In [ ]:
airplane_info['항공사'].duplicated().value_counts() 
#중복되지 않은 항공사 수(false): 50개

In [ ]:
airplane_info[~airplane_info['항공사'].duplicated()]
#DataFrame

In [ ]:
airplane_info['항공사'].unique()
#array

In [ ]:
len(airplane_info['항공사'].unique())
#항공사 종류 개수

# 나이가 결측값이 경우 do not know로 그 값을 변경하라

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic2= titanic[titanic['age'].isnull()].copy()
titanic2

In [ ]:
titanic2['age'].fillna("do not know",inplace=True)

In [ ]:
titanic2

# 수요일 오전 기온은 보간처리하고 목요일 오후기온은 수요일 오후 기온으로 채워넣으시오

In [ ]:
import numpy as np
# weather = pd.DataFrame([[18,6],[7,-4],[11,3],[16,8]],
#                       columns=list('월화수목'))

weather=pd.DataFrame([[18,12, np.nan ,8],[6,5,3,np.nan]], index=['오전','오후'],
               columns=list('월화수목'))

In [ ]:
weather

In [ ]:
weather.loc['오전'].interpolate()

In [ ]:
weather.loc['오후'].fillna(method='ffill')

# 학생들의 평균을 구하고 평균점수가 70점 미만일 시 fail, 이상일시 pass 처리하시오

In [2]:
import pandas as pd
import numpy as np

In [3]:
student=pd.DataFrame([[90,75],[55,80],[40,70],[70,75]], index=['김','이','박','최'],
               columns=['국어','수학'])

In [4]:
student

   국어  수학
김  90  75
이  55  80
박  40  70
최  70  75

In [5]:
student['평균']=(student['국어'] + student['수학'])/2

In [6]:
student

   국어  수학    평균
김  90  75  82.5
이  55  80  67.5
박  40  70  55.0
최  70  75  72.5

In [7]:
is_pass=student['평균']>=70

In [8]:
student['P/F']  = pd.Categorical(np.where(is_pass, 'pass', 'fail'))

In [9]:
student

   국어  수학    평균   P/F
김  90  75  82.5  pass
이  55  80  67.5  fail
박  40  70  55.0  fail
최  70  75  72.5  pass

In [14]:
student99=student.copy()
student99['평균_분석용']=student99['평균'].astype(str)

In [15]:
student99['평균_분석용']

김    82.5
이    67.5
박    55.0
최    72.5
Name: 평균_분석용, dtype: object

In [17]:
student99['평균_분석용']=student99['평균_분석용']+'원'

In [ ]:
student2=student.copy()
student2['평균']=student2['평균'].astype(object)+'원'
student2

In [ ]:
student3=student.copy()
student3['평균']=student3['평균'].astype(str)+'원'
student3