In [35]:
import pandas as pd

# 문제1

In [36]:
### 아래의 데이터 프레임의 각 데이터가 두번씩 저장되는 s3데이터베이스를 만드세요

In [37]:
s2 = pd.Series(['a','b','c','d'],name = 's2')

In [38]:
s2 * 2

0    aa
1    bb
2    cc
3    dd
Name: s2, dtype: object

In [39]:
s2 + s2

0    aa
1    bb
2    cc
3    dd
Name: s2, dtype: object

# 문제2

### 아래와 같은 데이터프레임에서 각 데이터의 세로방향 합을 구하고 11이상인 데이터의 인덱스 값을 확인하세요

In [40]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],index = ['a','b'],columns = ['가','나','다','라'])
df

   가  나  다  라
a  1  2  3  4
b  5  6  7  8

In [43]:
sum = df.sum(axis = 0)
sum.__getitem__(sum>11).index

Index(['라'], dtype='object')