In [4]:
import pandas as pd

In [5]:
df2 = pd.DataFrame(
    [[1,2,3],[4,5,6]])
df2

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
df = pd.DataFrame(
                    [[80,90,100,70],
                   [70,80,90,100]],
                  index=['달리기','점프'],
                 columns=['모모','츄츄','디디','루루'])
df

     모모  츄츄   디디   루루
달리기  80  90  100   70
점프   70  80   90  100