In [391]:
import pandas as pd
import cx_Oracle
import requests
from xml.etree.ElementTree import fromstring

In [392]:
access_key = 'pnWEl7Muj6PpSyrC35SaqRjYnKAAL0xedWtDdUQDmfsWvqDxK1ORAkSg2/axQsJNCKZjQlf98A3TRAuuIzJ0GQ=='
TOTAL_NUM = 75
MAX_TRANSACTION = 20
request_total_num = ( TOTAL_NUM // MAX_TRANSACTION) + 1
target_year = 2020

In [393]:
con = cx_Oracle.connect('open_source/1111@localhost:1521/xe')

In [394]:
cur = con.cursor()

In [395]:
def xml_to_oracle(data_root, data_name):
    for row in data_root.iter(data_name):
        sql_insert = '''
            insert into camical_accident(일련번호, 사고일자, 사고유형, 지역, 주소, 사고원인,사고물질,발생장소,사고개요)
            values(:일련번호, :사고일자, :사고유형, :지역, :주소, :사고원인,:사고물질,:발생장소,:사고개요)
        '''
        일련번호 = row.find('dataNo').text
        사고일자 = row.find('cscDe').text
        사고유형 = row.find('cscTy').text
        지역 = row.find('area').text
        주소 = row.find('addr').text
        사고원인 = row.find('cause').text
        사고물질 = row.find('chem').text
        발생장소 = row.find('place').text
        사고개요 = row.find('summary').text
        
        cur.execute(sql_insert,(일련번호, 사고일자, 사고유형, 지역, 주소, 사고원인,사고물질,발생장소,사고개요))
        con.commit()

In [396]:
def get_request_url(page_no):
        url = 'http://apis.data.go.kr/1480802/iciscsc/csclist'
        #params = {'serviceKey': access_key}
        params = {'serviceKey': access_key,'numOfRows': MAX_TRANSACTION,'pageNo': page_no, 'yyyy' : target_year}
        response = requests.get(url, params=params)
        return response.text

In [397]:
rename_dict = {'dataNo' : '일련번호', 'cscDe' : '사고일자', 'cscTy' : '사고유형', 'area' : '지역', 'addr' : '주소', 'cause' : '사고원인', 'chem' : '사고물질', 'place' : '발생장소', 'summary' : '사고개요'}
REDEFINE_COLUMNS = ['일련번호', '사고일자', '사고유형', '지역', '주소', '사고원인','사고물질','발생장소','사고개요']

In [398]:
for page_no in range(1, request_total_num+1):
    raw_xml = get_request_url(page_no)
    root = fromstring(raw_xml)

    data_root = root.find('body').find('items')
    
    xml_to_oracle(data_root, 'item')