In [1]:
import cx_Oracle
import pandas as pd
import requests
from xml.etree.ElementTree import fromstring
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager,rc
import pyproj

In [2]:
conn = cx_Oracle.connect('open_source/1111@localhost:1521/xe')
cur = conn.cursor()
cur.execute("""
select column_name from user_tab_columns where table_name = 'BUS_753'
""")

In [3]:
column_list = [record[0] for record in cur]
column_list

['정류소ID', '정류소명', '첫번째도착정보메시지', '두번째도착정보메시지', '제공시각']

In [4]:
cur.execute('select * from BUS_753')
bus753_df= pd.DataFrame(cur, columns=column_list)
bus753_df.head()

       정류소ID            정류소명 첫번째도착정보메시지 두번째도착정보메시지                제공시각
0  111000299          구산동사거리       출발대기       출발대기 2022-12-28 16:43:03
1  111000181  한솔아파트입구선정중학교후문       출발대기       출발대기 2022-12-28 16:43:03
2  111000182        갈현동미미아파트       출발대기       출발대기 2022-12-28 16:43:03
3  111000183          선일여고입구       출발대기       출발대기 2022-12-28 16:43:03
4  111000184          갈현동성당앞       출발대기       출발대기 2022-12-28 16:43:03

In [6]:
font_location = "C:\Windows\Fonts\malgun.ttf"
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font',family=font_name)
plt.rcParams['axes.unicode_minus'] = False
bus_station_df = pd.read_csv('서울시버스정류소좌표데이터.csv', encoding='cp949')

In [7]:
bus_station_df.head()

       정류소ID  ARS-ID           정류소명         X좌표        Y좌표
0  100000001    1001        종로2가사거리  126.987750  37.569765
1  100000002    1002    창경궁.서울대학교병원  126.996566  37.579183
2  100000003    1003      명륜3가.성대입구  126.998340  37.582671
3  100000004    1004       종로2가.삼일교  126.987613  37.568579
4  100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243

In [ ]:
bus_station_df=bus_station_df[['정류소ID','X좌표','Y좌표']]

In [ ]:
bus_station_df['정류소ID']=bus_station_df['정류소ID'].astype('object')

In [ ]:
pd.merge(left = bus753_df , right = bus_station_df, how = "right", on = "정류소ID")