In [239]:
import pandas as pd
import numpy as np

In [240]:
weight_loss = pd.read_csv('../data/weight_loss.csv',encoding = 'euc-kr')
weight_loss.head()

   이름   월   주  몸무게
0  지완  1월  1주   70
1  찬준  1월  1주   60
2  지완  1월  2주   69
3  찬준  1월  2주   59
4  지완  1월  3주   69

In [241]:
weight_loss2 = pd.read_csv('../data/weight_loss2.csv',encoding = 'euc-kr')
weight_loss2.head()

   이름   월   주  몸무게
0  지완  1월  1주   70
1  찬준  1월  1주   60
2  지완  1월  2주   69
3  찬준  1월  2주   59
4  지완  1월  3주   69

# outer join 으로 데이터 병합

In [242]:
weight_loss_outer = pd.merge(weight_loss,weight_loss2, how = 'outer', on = '월')
weight_loss_outer

    이름_x   월 주_x  몸무게_x 이름_y 주_y  몸무게_y
0     지완  1월  1주     70   지완  1주     70
1     지완  1월  1주     70   찬준  1주     60
2     지완  1월  1주     70   지완  2주     69
3     지완  1월  1주     70   찬준  2주     59
4     지완  1월  1주     70   지완  3주     69
..   ...  ..  ..    ...  ...  ..    ...
379   찬준  4월  4주     52   찬준  4주     52
380   찬준  4월  4주     52   석훈  1주     66
381   찬준  4월  4주     52   석훈  2주     67
382   찬준  4월  4주     52   석훈  3주     66
383   찬준  4월  4주     52   석훈  4주     65

[384 rows x 7 columns]

# concat 으로 데이터 병합

In [243]:
weight_loss_c = pd.concat([weight_loss,weight_loss2],axis = 0)
weight_loss_c.head()

   이름   월   주  몸무게
0  지완  1월  1주   70
1  찬준  1월  1주   60
2  지완  1월  2주   69
3  찬준  1월  2주   59
4  지완  1월  3주   69

# 데이터의 특징 파악

In [244]:
weight_loss_c.shape

(80, 4)

In [245]:
weight_loss_c.count()

이름     80
월      80
주      80
몸무게    80
dtype: int64

In [246]:
weight_loss_c.tail()

    이름   월   주  몸무게
43  석훈  3월  4주   66
44  석훈  4월  1주   66
45  석훈  4월  2주   67
46  석훈  4월  3주   66
47  석훈  4월  4주   65

# sort 사용해서 월, 주 순서로 정렬

In [247]:
weight_loss_s = weight_loss_c.sort_values(['월','주'],ascending=[True,True])
weight_loss_s.head(6)

    이름   월   주  몸무게
0   지완  1월  1주   70
1   찬준  1월  1주   60
0   지완  1월  1주   70
1   찬준  1월  1주   60
32  석훈  1월  1주   73
2   지완  1월  2주   69

# pivot table 로 데이터 구조 변경

In [248]:
weight_loss_p = weight_loss_s.pivot_table(index = ['월','주'],
                     columns = '이름',
                     values = '몸무게')
weight_loss_p

이름     석훈  지완  찬준
월  주
1월 1주  73  70  60
   2주  72  69  59
   3주  72  69  59
   4주  71  69  59
2월 1주  72  69  59
   2주  71  68  58
   3주  70  67  57
   4주  69  66  56
3월 1주  68  66  56
   2주  67  66  56
   3주  67  65  55
   4주  66  64  54
4월 1주  66  63  53
   2주  67  63  53
   3주  66  63  53
   4주  65  62  52

# '주'별 데이터를 그룹화하여 검색

In [249]:
weight_loss_g = weight_loss_p.groupby('주')
weight_loss_g

In [250]:
weight_loss_g.groups['1주']

MultiIndex([('1월', '1주'),
            ('2월', '1주'),
            ('3월', '1주'),
            ('4월', '1주')],
           names=['월', '주'])

##### 1주 검색

In [251]:
weight_loss_g.get_group('1주')

이름     석훈  지완  찬준
월  주
1월 1주  73  70  60
2월 1주  72  69  59
3월 1주  68  66  56
4월 1주  66  63  53

# 월 평균 몸무게

In [252]:
weight_loss_g2 = weight_loss_p.groupby('월').mean()
weight_loss_g2

이름    석훈     지완     찬준
월
1월  72.0  69.25  59.25
2월  70.5  67.50  57.50
3월  67.0  65.25  55.25
4월  66.0  62.75  52.75

# 개인데이터 필터링

In [253]:
weight_loss_n = weight_loss_p.filter(like = "석훈")
weight_loss_n

이름     석훈
월  주
1월 1주  73
   2주  72
   3주  72
   4주  71
2월 1주  72
   2주  71
   3주  70
   4주  69
3월 1주  68
   2주  67
   3주  67
   4주  66
4월 1주  66
   2주  67
   3주  66
   4주  65

In [254]:
weight_loss_n['체중변화'] = 0

C:\Users\tj\AppData\Local\Temp\ipykernel_8636\1236507591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight_loss_n['체중변화'] = 0

In [255]:
weight_loss_n

이름     석훈  체중변화
월  주
1월 1주  73     0
   2주  72     0
   3주  72     0
   4주  71     0
2월 1주  72     0
   2주  71     0
   3주  70     0
   4주  69     0
3월 1주  68     0
   2주  67     0
   3주  67     0
   4주  66     0
4월 1주  66     0
   2주  67     0
   3주  66     0
   4주  65     0

In [256]:
weight_loss_n.columns

Index(['석훈', '체중변화'], dtype='object', name='이름')

In [257]:
weight_loss_n.iloc[14]['석훈']

66

In [258]:
weight_loss_n.iloc[15]['석훈']

65

In [259]:
weight_loss_n.iloc[14]['석훈']-weight_loss_n.iloc[15]['석훈']

1

In [260]:
weight_loss_n.iloc[14,-1]

0

In [261]:
weight_loss_n['석훈']

월   주
1월  1주    73
    2주    72
    3주    72
    4주    71
2월  1주    72
    2주    71
    3주    70
    4주    69
3월  1주    68
    2주    67
    3주    67
    4주    66
4월  1주    66
    2주    67
    3주    66
    4주    65
Name: 석훈, dtype: int64

In [262]:
weight_loss_n['체중변화']

월   주
1월  1주    0
    2주    0
    3주    0
    4주    0
2월  1주    0
    2주    0
    3주    0
    4주    0
3월  1주    0
    2주    0
    3주    0
    4주    0
4월  1주    0
    2주    0
    3주    0
    4주    0
Name: 체중변화, dtype: int64

In [263]:
loss_list = []
for i in range(0,15):
    loss =  weight_loss_n.iloc[i+1]['석훈'] - weight_loss_n.iloc[i]['석훈']
    loss_list.append(loss)

In [264]:
loss_list

[-1, 0, -1, 1, -1, -1, -1, -1, -1, 0, -1, 0, 1, -1, -1]

In [265]:
loss_list = [0,-1, 0, -1, 1, -1, -1, -1, -1, -1, 0, -1, 0, 1, -1, -1]

In [266]:
weight_loss_n['체중변화'] = loss_list

C:\Users\tj\AppData\Local\Temp\ipykernel_8636\1286196588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight_loss_n['체중변화'] = loss_list

In [267]:
weight_loss_n

이름     석훈  체중변화
월  주
1월 1주  73     0
   2주  72    -1
   3주  72     0
   4주  71    -1
2월 1주  72     1
   2주  71    -1
   3주  70    -1
   4주  69    -1
3월 1주  68    -1
   2주  67    -1
   3주  67     0
   4주  66    -1
4월 1주  66     0
   2주  67     1
   3주  66    -1
   4주  65    -1

In [268]:
weight_loss_n.to_csv("weight_loss_석훈.csv",encoding='euc-kr')