In [1]:
import pandas as pd

# 데이터분석과제_22.11.28

In [2]:
import seaborn as sns

In [3]:
import numpy as np

In [4]:
diamonds = sns.load_dataset('diamonds')

In [5]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# 가장 가격이 높은 다이아몬드 검색

In [6]:
df=diamonds.nlargest(1000,'price')

In [7]:
df.head()

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01

# 명시적 인덱서

In [8]:
df.loc[27742]['price']

18795

# 결측치 검사

In [9]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

# 중복값 검사

In [10]:
df.duplicated().sum()

4

# 가격대비 가격상승요인

In [11]:
df['cut'].value_counts(normalize=True)

Premium      0.358
Ideal        0.327
Very Good    0.220
Good         0.074
Fair         0.021
Name: cut, dtype: float64

In [12]:
df['carat'].value_counts(normalize=True)

2.01    0.145
2.00    0.068
2.02    0.057
2.03    0.042
2.05    0.032
        ...
1.34    0.001
1.64    0.001
1.38    0.001
1.03    0.001
2.59    0.001
Name: carat, Length: 134, dtype: float64

In [13]:
df['clarity'].value_counts(normalize=True)

SI2     0.313
SI1     0.246
VS2     0.211
VS1     0.140
VVS2    0.036
IF      0.029
VVS1    0.021
I1      0.004
Name: clarity, dtype: float64

In [14]:
df['color'].value_counts(normalize=True)

H    0.215
I    0.208
G    0.189
F    0.152
E    0.096
J    0.071
D    0.069
Name: color, dtype: float64

In [15]:
df['price_factor']=0

In [16]:
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_factor
27749,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16,0
27748,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04,0
27747,1.51,Ideal,G,IF,61.7,55.0,18806,7.37,7.41,4.56,0
27746,2.07,Ideal,G,SI2,62.5,55.0,18804,8.20,8.13,5.11,0
27745,2.00,Very Good,H,SI1,62.8,57.0,18803,7.95,8.00,5.01,0

In [17]:
a=np.where(df['cut'].values=='Premium',0.358,0.327)

In [18]:
df['price_factor'] = df['price'].values*a

In [19]:
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_factor
27749,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16,6738.634
27748,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04,6153.486
27747,1.51,Ideal,G,IF,61.7,55.0,18806,7.37,7.41,4.56,6149.562
27746,2.07,Ideal,G,SI2,62.5,55.0,18804,8.20,8.13,5.11,6148.908
27745,2.00,Very Good,H,SI1,62.8,57.0,18803,7.95,8.00,5.01,6148.581