In [53]:
import pandas as pd

## 예제 2-10 : 딕셔너리가 원소인 딕셔너리로 데이터프레임 생성

In [54]:
# dict 키는 열로 지정한 값이 중첩된 dict라면 여기에서의 키는 각각 행의 이름으로 매칭

In [55]:
data = {'AAA':{'a':4, 'b':5, 'c':6, 'd':7},
        'BBB':{'a':10, 'b':20, 'c':30, 'd':40},
        'CCC':{'a':100, 'b':50, 'c':-30, 'd':-50} }

In [56]:
df = pd.DataFrame(data)

In [57]:
df

   AAA  BBB  CCC
a    4   10  100
b    5   20   50
c    6   30  -30
d    7   40  -50

In [58]:
# 중첩된 dict에서 내부 키가 다를 경우 해당 키의 이름으로 새로운 행을 만든다 (지정되지 않는 값은 NaN)

In [79]:
data2 = {'AAA':{'a':4, 'b':5, 'c':6, 'd':7, 'e':'f'},
        'BBB':{'a':10, 'b':20, 'c':30, 'd':40},
        'CCC':{'a':100, 'b':50, 'c':-30, 'd':-50, 'e':3} }

In [80]:
df2 = pd.DataFrame(data2)

In [81]:
df2

  AAA   BBB  CCC
a   4  10.0  100
b   5  20.0   50
c   6  30.0  -30
d   7  40.0  -50
e   f   NaN    3

In [83]:
df2['AAA']['a']

4

In [ ]:
# 열단위로 데이터 타입을 확인하는 경우 내부 원소 중 데이터의 크기가 가장 큰 원소를 기준으로 타입이 정해진다

In [82]:
df2.dtypes

AAA     object
BBB    float64
CCC      int64
dtype: object

In [62]:
# 컬럼을 재정의하여 기존의 DataFrame을 필터링

In [63]:
df2 = pd.DataFrame(data,columns = ['AAA','CCC'])

In [64]:
df2

   AAA  CCC
a    4  100
b    5   50
c    6  -30
d    7  -50