In [1]:
import pandas as pd

## 예제 2-11 : 데이터 프레임의 기본 속성 알아보기

In [2]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
BabyDataSet = list(zip(names,births))
# zip 함수는 두 열거형 객체의 원소 수가 같을 경우 각 원소를 매치시켜 튜플형태로 만들어준다

In [3]:
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [1]:
# BabyDataSet의 형태를 알기 쉽게 표현
[
    ('Bob', 968),
    ('Jessica', 155),
    ('Mary', 77),
    ('John', 578),
    ('Mel', 973)
]

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [4]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names','Births'])

In [5]:
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [6]:
df.values

array([['Bob', 968],
       ['Jessica', 155],
       ['Mary', 77],
       ['John', 578],
       ['Mel', 973]], dtype=object)

In [7]:
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Names', 'Births'], dtype='object')]

In [8]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
df.columns

Index(['Names', 'Births'], dtype='object')

In [10]:
df.dtypes

Names     object
Births     int64
dtype: object

In [12]:
df.shape, df.ndim, df.size

((5, 2), 2, 10)