In [2]:
import pandas as pd

## 예제 2-6 : 딕셔너리로 시리즈 생성

In [3]:
d = {'a':1,'b':2,'c':3}

In [4]:
ser = pd.Series(d,name = 'something')

In [5]:
# 판다스에서는 딕셔너리 데이터를 키는 인덱스, 값은 데이터로 표시한다
ser

a    1
b    2
c    3
Name: something, dtype: int64

In [6]:
index = ['a','b','c']

In [7]:
obj1 = pd.Series([1,2,3],index = index,name = "test")

In [8]:
obj1

a    1
b    2
c    3
Name: test, dtype: int64

In [9]:
d2 = {'200523039':'이순신','200523040':'정약용','200523041':'홍길동'}

In [23]:
ser2 = pd.Series(d2,name = '학생')

In [34]:
ser2

200523039    이순신
200523040    정약용
200523041    홍길동
Name: 학생, dtype: object

In [35]:
d3 = {'200523036':'임꺽정','200523037':'강감찬','200523038':'이이'}

In [36]:
ser3 = pd.Series(d3,name = '학생')

In [41]:
ser3

200523036    임꺽정
200523037    강감찬
200523038     이이
Name: 학생, dtype: object