In [12]:
import pandas as pd

## 예제 2-9 : 시리즈로 데이터프레임 생성

In [13]:
s1 = pd.Series([1,2,3,4],name = 's1')

In [14]:
s2 = pd.Series(['a','b','c','d'],name = 's2')

In [15]:
s1

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [26]:
s2

0    a
1    b
2    c
3    d
Name: s2, dtype: object

In [27]:
s2[1]

'b'

In [30]:
# dict인 경우 키가 열로 들어감
df = pd.DataFrame({'s1':s1,'s2':s2})

In [31]:
df

   s1 s2
0   1  a
1   2  b
2   3  c
3   4  d

In [19]:
df['s1']

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [20]:
s1 == df['s1']

0    True
1    True
2    True
3    True
Name: s1, dtype: bool

In [21]:
# dict가 아닌 경우 시리즈의 이름이 행 한위로 들어감
# 다음 다음의 예제와 같은 원리

In [22]:
df_a = pd.DataFrame([s1,s2])

In [23]:
df_a

    0  1  2  3
s1  1  2  3  4
s2  a  b  c  d

In [24]:
df_b = pd.DataFrame(
    [
        [1,2,3,4],
        ['a','b','c','d']
    ]
)

In [25]:
df_b

   0  1  2  3
0  1  2  3  4
1  a  b  c  d