In [1]:
import pandas as pd

## 예제 8-7  eval 함수와 메소드 처리하기

In [2]:
import numpy as np

In [3]:
rng = np.random.RandomState(42)

In [4]:
nrows, ncols = 100000, 10

In [5]:
print(type(pd.DataFrame(rng.rand(nrows, ncols)) for i in range(2)))

<class 'generator'>

In [6]:
# 0,1 두번 for문의 루프가 반복되면서 nrows, ncols 크기의 데이터 프레임을 각각 생성한다.
df1, df2 = (pd.DataFrame(rng.rand(nrows, ncols))for i in range(2))

In [7]:
df1.head()

,0,1,2,3,4,5,6,7,8,9
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176,0.601115,0.708073
1,0.020584,0.969910,0.832443,0.212339,0.181825,0.183405,0.304242,0.524756,0.431945,0.291229
2,0.611853,0.139494,0.292145,0.366362,0.456070,0.785176,0.199674,0.514234,0.592415,0.046450
3,0.607545,0.170524,0.065052,0.948886,0.965632,0.808397,0.304614,0.097672,0.684233,0.440152
4,0.122038,0.495177,0.034389,0.909320,0.258780,0.662522,0.311711,0.520068,0.546710,0.184854

In [8]:
df2.head()

,0,1,2,3,4,5,6,7,8,9
0,0.595156,0.364717,0.005376,0.561088,0.896570,0.531717,0.780488,0.161954,0.137298,0.893944
1,0.782998,0.347410,0.800172,0.075326,0.517900,0.881456,0.843601,0.371253,0.228849,0.867865
2,0.266901,0.822025,0.266517,0.984533,0.360120,0.255362,0.599228,0.359710,0.810427,0.732750
3,0.632495,0.422013,0.834611,0.306137,0.295722,0.091476,0.563500,0.696945,0.712998,0.861404
4,0.567160,0.025521,0.175390,0.561330,0.317477,0.864216,0.228547,0.255269,0.842986,0.581316

In [9]:
(df1+df2).head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.969696,1.315431,0.737370,1.159746,1.052589,0.687711,0.838571,1.028130,0.738413,1.602016
1,0.803583,1.317320,1.632615,0.287665,0.699725,1.064861,1.147843,0.896010,0.660794,1.159094
2,0.878754,0.961518,0.558662,1.350895,0.816190,1.040538,0.798902,0.873944,1.402842,0.779200
3,1.240040,0.592538,0.899663,1.255023,1.261354,0.899873,0.868114,0.794617,1.397231,1.301557
4,0.689199,0.520698,0.209779,1.470651,0.576257,1.526738,0.540258,0.775337,1.389696,0.766170

In [10]:
 pd.eval('df1 + df2').head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.969696,1.315431,0.737370,1.159746,1.052589,0.687711,0.838571,1.028130,0.738413,1.602016
1,0.803583,1.317320,1.632615,0.287665,0.699725,1.064861,1.147843,0.896010,0.660794,1.159094
2,0.878754,0.961518,0.558662,1.350895,0.816190,1.040538,0.798902,0.873944,1.402842,0.779200
3,1.240040,0.592538,0.899663,1.255023,1.261354,0.899873,0.868114,0.794617,1.397231,1.301557
4,0.689199,0.520698,0.209779,1.470651,0.576257,1.526738,0.540258,0.775337,1.389696,0.766170

In [11]:
%timeit df1 + df2

3.73 ms ± 312 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
%timeit pd.eval('df1 + df2')

4.26 ms ± 121 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
# allclose() 함수는 두 연산의 결과가 같은지 판단하여 True/False를 반환함
np.allclose(df1 + df2 ,pd.eval('df1 + df2 '))

True

In [15]:
nrows1, ncols1 = 100000, 100

In [16]:
df11, df12,df13, df14 = (pd.DataFrame(rng.rand(nrows1, ncols1))for i in range(4))

In [17]:
%timeit df11 + df12 + df13 + df14

99 ms ± 2.15 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [18]:
# 보다 많은 데이터를 생성하고 데이터 프레임도 확대되는 경우 eval()함수가 더 좋은 성능을 낼 수 있다.
%timeit pd.eval('df11 + df12 + df13 + df14')

42.5 ms ± 810 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
dfa1 = pd. DataFrame(np.random.randn(10, 2), columns=['평균','분산'])

In [20]:
dfa1

         평균        분산
0  2.127161  1.725737
1  0.919797  0.462978
2  0.330995 -0.436098
3  0.951220 -0.175106
4  1.499247  0.071633
5 -0.856722 -0.044947
6  0.793738 -0.796826
7 -0.222263  0.774164
8 -0.020249 -0.548496
9  1.115690  0.053478

In [21]:
dfa1.eval( '평균 + 분산 ')

0    3.852898
1    1.382775
2   -0.105103
3    0.776114
4    1.570880
5   -0.901669
6   -0.003088
7    0.551901
8   -0.568745
9    1.169168
dtype: float64

In [22]:
# eval()함수로 열생성도 가능하다
dfa1.eval( '편차  = 평균 - 분산 ')

         평균        분산        편차
0  2.127161  1.725737  0.401424
1  0.919797  0.462978  0.456819
2  0.330995 -0.436098  0.767093
3  0.951220 -0.175106  1.126325
4  1.499247  0.071633  1.427615
5 -0.856722 -0.044947 -0.811775
6  0.793738 -0.796826  1.590564
7 -0.222263  0.774164 -0.996427
8 -0.020249 -0.548496  0.528247
9  1.115690  0.053478  1.062212

In [18]:
# 자기 자신을 바꾸지는 않는다.
dfa1

         평균        분산
0  0.685033 -0.066239
1 -0.383512  1.675153
2  0.436180 -0.373146
3 -0.401405  0.482832
4 -0.145430  2.371629
5 -0.137704  0.072546
6 -0.701751  0.224541
7 -1.140720 -0.539446
8 -1.295745  0.531430
9 -0.430147 -2.090892

In [24]:
# 자기 자신을 바꾸려면
dfa1.eval( '편차 = 평균 - 분산 ', inplace=True)

In [25]:
dfa1

         평균        분산        편차
0  2.127161  1.725737  0.401424
1  0.919797  0.462978  0.456819
2  0.330995 -0.436098  0.767093
3  0.951220 -0.175106  1.126325
4  1.499247  0.071633  1.427615
5 -0.856722 -0.044947 -0.811775
6  0.793738 -0.796826  1.590564
7 -0.222263  0.774164 -0.996427
8 -0.020249 -0.548496  0.528247
9  1.115690  0.053478  1.062212

In [26]:
dfa2 = pd. DataFrame(np.random.randn(10, 2), columns=range(0,2))

In [27]:
dfa2

          0         1
0 -0.677338  0.013977
1 -0.528464  1.731028
2 -0.645646  0.992643
3 -0.747729 -0.051618
4 -0.280198 -0.603017
5  0.810376  1.138192
6  0.845177  0.983522
7  0.171737  0.398911
8  0.982550 -1.131646
9 -0.490990 -0.504788

In [28]:
# 열이름을 사용하여 연산을 할 수 있을까?
dfa2.eval( '0 +1 ')
# 열이름이 아니라 숫자로 인식하는 듯

1

In [29]:
# .을 통해 열 접근은?
try :
    pd.eval('dfa2.0 + dfa2.1')
except Exception as e  :
    print("exception ", e)

exception  invalid syntax (<unknown>, line 1)

In [30]:
# 올바른 사용예
try :
    df_add = pd.eval('dfa2[0] + dfa2[1]')
except Exception as e  :
    print("exception ", e)

In [31]:
df_add

0   -0.663362
1    1.202563
2    0.346997
3   -0.799347
4   -0.883215
5    1.948568
6    1.828699
7    0.570647
8   -0.149097
9   -0.995778
dtype: float64

In [32]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
                           for i in range(5))

In [33]:
result1 = -df1 * df2 / (df3 + df4) - df5

In [34]:
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')

In [35]:
np.allclose(result1, result2)

True

In [36]:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)

In [37]:
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')

In [38]:
np.allclose(result1, result2)

True

In [39]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')

In [40]:
np.allclose(result1, result3)

True

In [41]:
df = pd. DataFrame(np.random.randn(10, 2), columns=list('AB'))

In [42]:
df

          A         B
0  2.155530 -0.199492
1 -1.224215  0.334196
2 -0.377404  2.204358
3 -0.674241  0.484246
4 -1.191949 -0.079402
5 -1.404599 -0.773367
6 -2.150820 -1.518945
7 -1.251807 -1.293833
8  0.285222 -0.003301
9 -0.210425  0.617361

In [43]:
column_mean = df.mean(axis=1)

In [44]:
column_mean.head()

0    0.978019
1   -0.445009
2    0.913477
3   -0.094997
4   -0.635676
dtype: float64

In [45]:
result1 = df['A'] + column_mean

In [46]:
result2 = df.eval('A + @column_mean')

In [47]:
np.allclose(result1, result2)

True

### eval 함수 장점
* 대규모 복잡한 데이터프레임워크 간의 연산에서 좋은 성능을 낼 수 있다.
* 연산시 변수 처리를 할 수 있어 대화형 검색을 할 수 있다.

### eval 함수 단점
* 간단한 연산 수행시 성능상의 차이가 없다. 또는 나쁠 수 있다.
* 특정 연산에 제약이 있을 수 있다.