In [29]:
import json
import pandas as pd

In [30]:
def open_json(file_name, encoding_type):
    with open(file_name, encoding = encoding_type) as json_file: 
        json_object = json.load(json_file)
        json_string = json.dumps(json_object)
        json_data = json.loads(json_string)
    return json_data

In [31]:
json_data = open_json('student_zero2.json','cp949')
json_data

{'response': {'body': {'student_list': [{'age': 45,
     'major': '경영학',
     'name': '영호',
     'sex': '남'},
    {'age': 30, 'major': '정치외교', 'name': '세중', 'sex': '남'},
    {'age': 30, 'major': '신문방송학', 'name': '치우', 'sex': '남'}]}}}

In [32]:
column_list = []
all_data = []
is_first = True
for student in json_data['response']['body']['student_list']:
    row_list = []
    for key,value in student.items():
        if is_first:
            column_list.append(key)
        row_list.append(value)
    all_data.append(row_list)
    is_first = False

In [33]:
all_data

[[45, '경영학', '영호', '남'], [30, '정치외교', '세중', '남'], [30, '신문방송학', '치우', '남']]

In [34]:
column_list

['age', 'major', 'name', 'sex']

In [35]:
df = pd.DataFrame(all_data,
                 columns = column_list)
df

   age  major name sex
0   45    경영학   영호   남
1   30   정치외교   세중   남
2   30  신문방송학   치우   남

In [36]:
df.to_csv('student_zero2.csv', encoding = 'utf-8', index = False)