In [884]:
import pandas as pd

In [885]:
import numpy as np

In [886]:
data = ['73','72','72','71','72','71','70','69','68','67','67','66','66','67','66','65']

In [887]:
def make_index(n,w):
    index_list = []
    for month in range(1,n+1):
        for week in range(1,w+1):
            index = str(month) + '월' + str(week) + '주'
            index_list.append(index)

In [888]:
make_index(4,4)

In [889]:
index_list

['1월1주',
 '1월2주',
 '1월3주',
 '1월4주',
 '2월1주',
 '2월2주',
 '2월3주',
 '2월4주',
 '3월1주',
 '3월2주',
 '3월3주',
 '3월4주',
 '4월1주',
 '4월2주',
 '4월3주',
 '4월4주']

In [890]:
weight = pd.DataFrame(data ,
                      index = index_list,
                      columns = ['석훈'])
weight.head()

      석훈
1월1주  73
1월2주  72
1월3주  72
1월4주  71
2월1주  72

In [891]:
weight.dtypes

석훈    object
dtype: object

In [892]:
weight = weight.astype('int64')
weight.head()

      석훈
1월1주  73
1월2주  72
1월3주  72
1월4주  71
2월1주  72

In [893]:
weight['석훈']

1월1주    73
1월2주    72
1월3주    72
1월4주    71
2월1주    72
2월2주    71
2월3주    70
2월4주    69
3월1주    68
3월2주    67
3월3주    67
3월4주    66
4월1주    66
4월2주    67
4월3주    66
4월4주    65
Name: 석훈, dtype: int64

In [894]:
def weight_target(weight):
    return weight['석훈'] - 1

In [895]:
weight['목표체중'] = weight.apply(weight_target,axis = 1)

In [896]:
weight.head()

      석훈  목표체중
1월1주  73    72
1월2주  72    71
1월3주  72    71
1월4주  71    70
2월1주  72    71

In [897]:
 weight.iloc[i]['석훈']

66

In [898]:
loss_list = []
for i in range(0,15):
    loss =  weight.iloc[i+1]['석훈'] - weight.iloc[i]['석훈']
    loss_list.append(loss)

In [899]:
loss_list.append(0)

In [900]:
loss_list

[-1, 0, -1, 1, -1, -1, -1, -1, -1, 0, -1, 0, 1, -1, -1, 0]

In [901]:
weight['체중증감'] = loss_list

In [902]:
weight.head()

      석훈  목표체중  체중증감
1월1주  73    72    -1
1월2주  72    71     0
1월3주  72    71    -1
1월4주  71    70     1
2월1주  72    71    -1

In [903]:
weight = weight[['석훈','체중증감','목표체중']]

In [904]:
weight.head()

      석훈  체중증감  목표체중
1월1주  73    -1    72
1월2주  72     0    71
1월3주  72    -1    71
1월4주  71     1    70
2월1주  72    -1    71

In [905]:
weight.dtypes

석훈      int64
체중증감    int64
목표체중    int64
dtype: object

In [906]:
def target_clear(weight):
    a = weight['석훈'] + weight['체중증감']
    if a == weight['목표체중']:
        return '성공'
    else:
        return '실패'

In [907]:
weight['목표달성여부'] = weight.apply(target_clear,axis = 1)

In [908]:
weight.head()

      석훈  체중증감  목표체중 목표달성여부
1월1주  73    -1    72     성공
1월2주  72     0    71     실패
1월3주  72    -1    71     성공
1월4주  71     1    70     실패
2월1주  72    -1    71     성공

In [909]:
clear = weight['목표달성여부'].value_counts(normalize = True)
clear[0]

0.625

In [910]:
clear_rate = clear[0]*100
clear_rate

62.5

In [911]:
weight['석훈'].count()

16

In [912]:
result = weight['석훈'][0] - weight['석훈'][weight['석훈'].count()-1]
result

8

In [913]:
weight_result = pd.DataFrame([clear_rate,result],
                             index = ['목표달성률','기간내 결과'],
                             columns =  ['석훈'])

In [914]:
weight_result

          석훈
목표달성률   62.5
기간내 결과   8.0