# 문제1

In [1]:
# 코드 부산광역시 주소데이터 파일을 읽어와서 
# df.drop_duplicates()를 이용하여 중복값을 제거한 후 동의 갯수를 구하시오

In [3]:
import pandas as pd

In [5]:
df_f = pd.read_csv('../data/busan_addr.csv',encoding='euc-kr')

In [8]:
df_d = df_f.drop_duplicates()

In [9]:
df_d

           시    구      동
0      부산광역시   중구  중앙동6가
3      부산광역시   중구  중앙동7가
55     부산광역시   중구  동광동1가
103    부산광역시   중구  중앙동2가
104    부산광역시   중구  중앙동5가
...      ...  ...    ...
43399  부산광역시  기장군    장안읍
43400  부산광역시  기장군    정관읍
43411  부산광역시  기장군    기장읍
43433  부산광역시  기장군    일광읍
43500  부산광역시  기장군    철마면

[192 rows x 3 columns]

In [11]:
df_d.shape

(192, 3)

# 문제2

In [1]:
# 코드