- 기본 데이터

In [50]:
import pandas as pd

data = { '학교명' : ['서울대', '연세대', '고려대', '중앙대', '아주대', '충남대', '한양대', '한국대'],
    '남자 비율' : [5.6, 4.3, 5.5, 3.4, 6.3, 5.0, 2.1, 9.9],  # 100% -> 10.0
    '학생 수' : [10030, 10400, 8900, 5678, 3457, 27545, 2354, 12345] }

df = pd.DataFrame(data)

# 문제 1

- 학생수가 10000명이 넘는 학교의 학교 명과 남자 비율을 추출 하시오

In [51]:

df.loc[df['학생 수']>10000,['학교명','남자 비율']]

   학교명  남자 비율
0  서울대    5.6
1  연세대    4.3
5  충남대    5.0
7  한국대    9.9

# 문제 2
- 위의 데이터에서 남자 학생의 명수를 추출 하시오

In [57]:
ser=pd.Series(df['학생 수']*(df['남자 비율']*0.1))

In [58]:
ser

0     5616.80
1     4472.00
2     4895.00
3     1930.52
4     2177.91
5    13772.50
6      494.34
7    12221.55
dtype: float64