In [1]:
import seaborn as sns


taxis = sns.load_dataset('taxis')
taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

# 문제1
- taxis DataSet에서 dropoff_zone 열의 값이 Yorkville West 이고 total 값이 20 초과인 택시의 color와 pickup_zone을 추출 하시오

In [2]:
answer = taxis.loc[((taxis['dropoff_zone'] == 'Yorkville West' ) & (taxis['total'] > 20)) , ['color','pickup_zone']]
answer

       color                   pickup_zone
3     yellow                     Hudson Sq
89    yellow       Greenwich Village South
259   yellow                     Chinatown
646   yellow                      Gramercy
698   yellow     Times Sq/Theatre District
828   yellow       Greenwich Village North
1189  yellow             LaGuardia Airport
2189  yellow                      Gramercy
2555  yellow  Penn Station/Madison Sq West
3961  yellow     Times Sq/Theatre District
4024  yellow       Greenwich Village North
4096  yellow                      Union Sq
4305  yellow                  West Village
4423  yellow                      Union Sq
4913  yellow             LaGuardia Airport
4926  yellow                 Midtown South
4944  yellow                      Gramercy
5960   green              Brooklyn Heights

# 문제 2
- taxis DataSet에서 tip이 2.0 이상 이거나 distance가 18.0 초과이고 payment가 cash인 Data의 pickup 시간, dropoff 시간, pickup_zone과 dropoff_zone을 추출 하되
- pickup 시간 별로 정렬하여 추출 하시오

In [3]:
answer2 = taxis.loc[(( (taxis['tip'] >= 2.0 ) | (taxis['distance'] > 18.0) ) & (taxis['payment'] == 'cash')) , ['pickup','dropoff','pickup_zone','dropoff_zone']]
answer2_i = taxis.set_index('pickup')
answer2_i.sort_index(inplace=True)
answer2_i

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
pickup,,,,,,,,,,,,,
2019-02-28 23:29:03,2019-02-28 23:32:35,1,0.90,5.0,0.00,0.0,6.30,green,cash,Old Astoria,Long Island City/Queens Plaza,Queens,Queens
2019-03-01 00:03:29,2019-03-01 00:13:32,3,2.16,10.0,2.00,0.0,15.80,yellow,credit card,Lincoln Square East,Upper East Side North,Manhattan,Manhattan
2019-03-01 00:08:32,2019-03-01 00:29:47,3,7.35,22.5,1.00,0.0,27.30,yellow,credit card,East Chelsea,Mott Haven/Port Morris,Manhattan,Bronx
2019-03-01 00:15:53,2019-03-01 00:47:58,1,7.00,25.5,7.30,0.0,36.60,yellow,credit card,West Village,Astoria,Manhattan,Queens
2019-03-01 00:29:22,2019-03-01 00:32:48,4,0.74,4.5,1.00,0.0,9.30,yellow,credit card,Meatpacking/West Village West,Meatpacking/West Village West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-31 22:13:37,2019-03-31 22:22:50,1,1.00,7.5,0.70,0.0,12.00,yellow,credit card,SoHo,Lower East Side,Manhattan,Manhattan
2019-03-31 22:32:27,2019-03-31 22:34:45,1,0.40,3.5,1.45,0.0,8.75,yellow,credit card,Midtown North,Lincoln Square East,Manhattan,Manhattan
2019-03-31 22:51:53,2019-03-31 22:55:10,1,0.67,4.5,1.66,0.0,9.96,yellow,credit card,West Village,Meatpacking/West Village West,Manhattan,Manhattan
2019-03-31 23:15:03,2019-03-31 23:27:12,1,3.03,11.5,3.82,0.0,19.12,yellow,credit card,Midtown East,Upper West Side South,Manhattan,Manhattan
2019-03-31 23:43:45,2019-04-01 00:13:58,5,12.25,37.0,0.00,0.0,40.80,yellow,cash,LaGuardia Airport,Williamsburg (South Side),Queens,Brooklyn

# 문제 3
- taxis DataSet에서 dtypes가 float64인 Data를 하단에서 3개만 추출 하시오

In [17]:
taxis.select_dtypes(include=['float64']).tail(3)

      distance  fare   tip  tolls  total
6430      4.14  16.0  0.00    0.0  17.30
6431      1.12   6.0  0.00    0.0   6.80
6432      3.85  15.0  3.36    0.0  20.16