## 문제1

In [2]:
import pandas as pd
book = pd.read_csv('../data/book_data.csv',encoding='cp949')
book.head()

,book_name,book_writer,book_date,book_price,book_cover,book_page,book_size,book_weight,book_category,book_publisher,sales_point
0,올 더 빌딩스 인 런던,제임스 걸리버 핸콕,2018-08-25,"14,400",양장본,140,225*280mm,476,예술/대중문화,책발전소,110
1,렛 잇 블리드,이언 랜킨,2018-08-19,"13,320",반양장본,476,128*188mm,476,소설/시/희곡,오픈하우스,110
2,은유로 사회 읽기,대니얼 리그니,2018-08-20,"39,500",양장본,416,152*223mm,749,사회과학,한울(한울아카데미),10
3,유럽 맥주 여행,백경학,2018-08-24,"14,400",반양장본,308,150*220mm,400,역사,글항아리,10
4,"이게, 행복이 아니면 무엇이지",김혜령,2018-08-20,"13,050",NaN,288,135*200mm,374,인문학,웨일북,10

### 특정값이 있는 열 필터링 (예제 3-9)

In [3]:
book.filter(like='book_category').head()

  book_category
0       예술/대중문화
1       소설/시/희곡
2          사회과학
3            역사
4           인문학

### 결측치 치환 (예제 3-10)

In [4]:
book.isnull().sum()

book_name           0
book_writer         0
book_date           0
book_price          0
book_cover        317
book_page           0
book_size           1
book_weight         0
book_category       0
book_publisher      0
sales_point         0
dtype: int64

##### book_cover 열의 NaN 값을 "자료없음" 으로 바꾸기

In [5]:
book['book_cover'].fillna("자료없음",inplace=True)

In [6]:
book[['book_cover']]

     book_cover
0           양장본
1          반양장본
2           양장본
3          반양장본
4          자료없음
...         ...
1995       반양장본
1996       반양장본
1997        양장본
1998       반양장본
1999       반양장본

[2000 rows x 1 columns]