In [1]:
import pandas as pd
import seaborn as sns

In [3]:
taxis = sns.load_dataset('taxis')

In [4]:
taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

# 문제 1
- taxis DataSet에서 차량별 색깔에 따른 tip에 평균 값을 추출 하시오. ( GroupBy 사용 )

In [18]:
taxis_groupby_tip = taxis.groupby('color').mean()['tip']

taxis_groupby_tip.to_frame()

             tip
color
green   0.795458
yellow  2.192475

In [47]:
data = {
    "회계연도": ["2017", "2017", "2017", "2018", "2018", "2018", "2019", "2019","2019"],
    "기능": ["일반, 지방 행정", "일반, 지방 행정", "공공질서 및 안전", "공공질서 및 안전", "일반, 지방 행정", "일반, 지방 행정", "공공질서 및 안전", "공공질서 및 안전","공공질서 및 안전"],
    "예산 항목": ['입법 관리', '국정 운영', '재정지원', '정부자원관리', '입법 관리', '국정 운영','재정지원', '정부자원관리','입법 관리'],
    "금액(단위:백만원)": [1135768, 518762, 41003480, 1234123, 6463124, 235511, 2477712, 12677342,326364]
}

df = pd.DataFrame(data,columns=['회계연도','기능','예산 항목','금액(단위:백만원)'])
df

   회계연도         기능   예산 항목  금액(단위:백만원)
0  2017  일반, 지방 행정   입법 관리     1135768
1  2017  일반, 지방 행정   국정 운영      518762
2  2017  공공질서 및 안전    재정지원    41003480
3  2018  공공질서 및 안전  정부자원관리     1234123
4  2018  일반, 지방 행정   입법 관리     6463124
5  2018  일반, 지방 행정   국정 운영      235511
6  2019  공공질서 및 안전    재정지원     2477712
7  2019  공공질서 및 안전  정부자원관리    12677342
8  2019  공공질서 및 안전   입법 관리      326364

# 문제 2
- 상단의 데이터 프레임으로 index = 회계연도, columns = 기능 , values = 금액으로 지정하여 전체 합 피벗 테이블을 작성하고
- 결측값이 발생한다면 0으로 처리 하시오

In [49]:
df1 = df.pivot_table(values='금액(단위:백만원)',columns='기능',index='회계연도',aggfunc='sum')
df1.fillna(0,inplace=True)
df1

기능     공공질서 및 안전  일반, 지방 행정
회계연도
2017  41003480.0  1654530.0
2018   1234123.0  6698635.0
2019  15481418.0        0.0

In [50]:
df

   회계연도         기능   예산 항목  금액(단위:백만원)
0  2017  일반, 지방 행정   입법 관리     1135768
1  2017  일반, 지방 행정   국정 운영      518762
2  2017  공공질서 및 안전    재정지원    41003480
3  2018  공공질서 및 안전  정부자원관리     1234123
4  2018  일반, 지방 행정   입법 관리     6463124
5  2018  일반, 지방 행정   국정 운영      235511
6  2019  공공질서 및 안전    재정지원     2477712
7  2019  공공질서 및 안전  정부자원관리    12677342
8  2019  공공질서 및 안전   입법 관리      326364

In [54]:
df2 = df.set_index(['회계연도','기능'])
df2

                 예산 항목  금액(단위:백만원)
회계연도 기능
2017 일반, 지방 행정   입법 관리     1135768
     일반, 지방 행정   국정 운영      518762
     공공질서 및 안전    재정지원    41003480
2018 공공질서 및 안전  정부자원관리     1234123
     일반, 지방 행정   입법 관리     6463124
     일반, 지방 행정   국정 운영      235511
2019 공공질서 및 안전    재정지원     2477712
     공공질서 및 안전  정부자원관리    12677342
     공공질서 및 안전   입법 관리      326364

# 문제 3
- 상단의 데이터프레임의 예산 항목과 금액(단위:백만원) 열을 멀티인덱스로 설정 하여 프레임으로 출력 하시오. (Stack/UnStack)

In [57]:
df2.stack().to_frame()

                                  0
회계연도 기능
2017 일반, 지방 행정 예산 항목          입법 관리
               금액(단위:백만원)   1135768
               예산 항목          국정 운영
               금액(단위:백만원)    518762
     공공질서 및 안전 예산 항목           재정지원
               금액(단위:백만원)  41003480
2018 공공질서 및 안전 예산 항목         정부자원관리
               금액(단위:백만원)   1234123
     일반, 지방 행정 예산 항목          입법 관리
               금액(단위:백만원)   6463124
               예산 항목          국정 운영
               금액(단위:백만원)    235511
2019 공공질서 및 안전 예산 항목           재정지원
               금액(단위:백만원)   2477712
               예산 항목         정부자원관리
               금액(단위:백만원)  12677342
               예산 항목          입법 관리
               금액(단위:백만원)    326364