In [1]:
import pandas as pd

# 대학별 평균 등록금 데이터를 가공하여 설립 구분별 평균 데이터를 출력하라

In [12]:
tuition = pd.read_csv('../data/2017_college_tuition.csv',encoding='euc-kr')

In [11]:
tuition

설립구분
국공립    3865
사립     7011
Name: 평균등록금, dtype: int32

In [13]:
tuition = tuition.groupby('설립구분').mean()

In [15]:
tuition

            평균등록금
설립구분
국공립   3865.450000
사립    7011.282051

In [16]:
tuition['평균등록금'] = tuition['평균등록금'].astype('int')

In [17]:
tuition

      평균등록금
설립구분
국공립    3865
사립     7011