In [1]:
import pandas as pd

# 예제 3-9 특정 열에대한 정보를 가져오기

In [2]:
flight_route_info = pd.read_csv('../data/flight_route_info.csv',encoding='cp949')

In [3]:
flight_route_info.columns

Index(['노선명', '항공사', '출발지', '출발국', '도착지', '도착국', '검수', '2016.6', '2018.5',
       '상태', '비고', '운항 횟수', '운항_2016', '운항_2017', '운항_2018', '운항_2016.12',
       '운항_2017.1', '운항_2017.2', '운항_2017.12', '운항_2018.1', '운항_2018.2',
       '운항_2016겨울', '운항_2017겨울', '운항_겨울 총합', '운항_2017.3', '운항_2017.4',
       '운항_2017.5', '운항_2018.3', '운항_2018.4', '운항_2018.5', '운항_2017봄',
       '운항_2018봄', '운항_봄 총합', '운항_2016.6', '운항_2016.7', '운항_2016.8',
       '운항_2017.6', '운항_2017.7', '운항_2017.8', '운항_2016여름', '운항_2017여름',
       '운항_여름 총합', '운항_2016.9', '운항_2016.10', '운항_2016.11', '운항_2017.9',
       '운항_2017.10', '운항_2017.11', '운항_2016가을', '운항_2017가을', '운항_가을 총합', '운송량',
       '운송량_2016', '운송량_2017', '운송량_2018', '운송량_2016.12', '운송량_2017.1',
       '운송량_2017.2', '운송량_2017.12', '운송량_2018.1', '운송량_2018.2', '운송량_2016겨울',
       '운송량_2017겨울', '운송량_겨울 총합', '운송량_2017.3', '운송량_2017.4', '운송량_2017.5',
       '운송량_2018.3', '운송량_2018.4', '운송량_2018.5', '운송량_2017봄', '운송량_2018봄',
       '운송량_봄총합', '운송량_2016.6', '운송량_2016.7', '운송량_2016.8', '운송량_2017.6',
       '운송량_2017.7', '운송량_2017.8', '운송량_2016여름', '운송량_2017여름', '운송량_여름 총합',
       '운송량_2016.9', '운송량_2016.10', '운송량_2016.11', '운송량_2017.9', '운송량_2017.10',
       '운송량_2017.11', '운송량_2016가을', '운송량_2017가을', '운송량_가을 총합'],
      dtype='object')

In [4]:
# 열 이름에 특정 값이 있는 열을 filter 함수의 like 인자를 통해 필터링
flight_route_info.filter(like = '2016.6').head()

  2016.6  운항_2016.6  운송량_2016.6
0      O          4         692
1      O          4         692
2      O          4         596
3      O          0           0
4      O          5         985

In [5]:
# 열이름에 숫자가 들어간 열을 필터링
flight_regex = flight_route_info.filter(regex = '\d')

In [7]:
flight_regex.columns

Index(['2016.6', '2018.5', '운항_2016', '운항_2017', '운항_2018', '운항_2016.12',
       '운항_2017.1', '운항_2017.2', '운항_2017.12', '운항_2018.1', '운항_2018.2',
       '운항_2016겨울', '운항_2017겨울', '운항_2017.3', '운항_2017.4', '운항_2017.5',
       '운항_2018.3', '운항_2018.4', '운항_2018.5', '운항_2017봄', '운항_2018봄',
       '운항_2016.6', '운항_2016.7', '운항_2016.8', '운항_2017.6', '운항_2017.7',
       '운항_2017.8', '운항_2016여름', '운항_2017여름', '운항_2016.9', '운항_2016.10',
       '운항_2016.11', '운항_2017.9', '운항_2017.10', '운항_2017.11', '운항_2016가을',
       '운항_2017가을', '운송량_2016', '운송량_2017', '운송량_2018', '운송량_2016.12',
       '운송량_2017.1', '운송량_2017.2', '운송량_2017.12', '운송량_2018.1', '운송량_2018.2',
       '운송량_2016겨울', '운송량_2017겨울', '운송량_2017.3', '운송량_2017.4', '운송량_2017.5',
       '운송량_2018.3', '운송량_2018.4', '운송량_2018.5', '운송량_2017봄', '운송량_2018봄',
       '운송량_2016.6', '운송량_2016.7', '운송량_2016.8', '운송량_2017.6', '운송량_2017.7',
       '운송량_2017.8', '운송량_2016여름', '운송량_2017여름', '운송량_2016.9', '운송량_2016.10',
       '운송량_2016.11', '운송량_2017.9', '운송량_2017.10', '운송량_2017.11', '운송량_2016가을',
       '운송량_2017가을'],
      dtype='object')

In [8]:
flight_route_info.filter(like = '2018').head()

,2018.5,운항_2018,운항_2018.1,운항_2018.2,운항_2018.3,운항_2018.4,운항_2018.5,운항_2018봄,운송량_2018,운송량_2018.1,운송량_2018.2,운송량_2018.3,운송량_2018.4,운송량_2018.5,운송량_2018봄
0,O,22,4,5,5,5,3,13,3578,596,820,970,745,447,2162
1,O,23,5,4,4,6,4,14,4102,895,896,746,969,596,2311
2,O,16,4,2,4,4,2,10,2459,596,298,596,596,373,1565
3,O,9,1,2,2,3,1,6,1341,149,298,298,447,149,894
4,O,9,1,2,2,2,2,6,1416,149,298,373,298,298,969

# 예제 3-10 결측값을 처리하기

In [9]:
import numpy as np

In [10]:
# nan => 결측값으로 처리한다는 것을 의미 (자바의 null, 파이썬의 None과 같음)
s = pd.Series([0, 1, np.nan, 3])

In [11]:
# fillna 함수는 결측값(na)를 인수값으로 채우는 함수
# method에 ffill(foward fill을 의미함) 또는 pad를 준다면
# 결측치가 발생하기 이전의 값으로 대체한다
s.fillna(method = 'ffill')

0    0.0
1    1.0
2    1.0
3    3.0
dtype: float64

In [12]:
s.fillna(method = 'pad')

0    0.0
1    1.0
2    1.0
3    3.0
dtype: float64

In [13]:
# method에 bfill 또는 backfill을 준다면 결측치가 발생한 이후의 값으로 대체한다
s.fillna(method = 'bfill')

0    0.0
1    1.0
2    3.0
3    3.0
dtype: float64

In [14]:
s.fillna(method = 'backfill')

0    0.0
1    1.0
2    3.0
3    3.0
dtype: float64

In [18]:
# 전체 열을 대상으로 누락된 값을 집계하려면
flight_route_info.isnull().sum().head(13)

노선명          0
항공사          0
출발지          0
출발국          0
도착지          0
도착국          0
검수           0
2016.6       0
2018.5       0
상태           0
비고         412
운항 횟수        0
운항_2016      0
dtype: int64

In [20]:
# 전체 열을 대상으로 누락된 값들의 타입은 시리즈이다
type(flight_route_info.isnull().sum())

pandas.core.series.Series

In [21]:
# 그러므로 개별 열의 누락된 값의 총합을 구할 수 있다
flight_route_info.isnull().sum().sum()

412

In [22]:
# 특정 열의 유일 값별 개수
flight_route_info['비고'].value_counts().head()

2016.11.05. 이후 폐선       4
2018.04.24. 이후 기록 없음    3
2017.07 한 달             2
2017.10.27. 이후 폐선       2
2018.04.26. 이후 기록 없음    2
Name: 비고, dtype: int64

In [23]:
# dropna = False 인자를 설정하게 되면 결측치에대한 집계도 가능하다 (기본은 True)
flight_route_info['비고'].value_counts(dropna = False).head()

NaN                     412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2016.10 한 달 운항            2
2017.03.24. 이후 폐선         2
Name: 비고, dtype: int64

In [24]:
flight_route_info['비고'].dtype

dtype('O')

In [25]:
flight_route_info.head()

,노선명,항공사,출발지,출발국,도착지,도착국,검수,2016.6,2018.5,상태,...,운송량_여름 총합,운송량_2016.9,운송량_2016.10,운송량_2016.11,운송량_2017.9,운송량_2017.10,운송량_2017.11,운송량_2016가을,운송량_2017가을,운송량_가을 총합
0,7J105,Tajik Air,DYU,TJK,IKA,IRI,O,O,O,완료,...,4258,842,985,596,746,597,448,2423,1791,4214
1,7J117,Tajik Air,DYU,TJK,DEL,IND,O,O,O,완료,...,3440,794,815,990,224,0,0,2599,224,2823
2,7J4801,Tajik Air,DYU,TJK,SVX,RUS,O,O,O,완료,...,3949,970,896,596,745,448,448,2462,1641,4103
3,7J4805,Tajik Air,DYU,TJK,SGC,RUS,O,O,O,완료,...,0,0,0,298,0,0,0,298,0,298
4,7J4849,Tajik Air,DYU,TJK,FRU,KGZ,O,O,O,완료,...,3604,767,788,596,298,0,0,2151,298,2449

In [26]:
# 결측치 데이터를 무시해도 될 경우, 임의의 값으로 채운다.
flight_route_info.fillna(" ",inplace = True)

In [32]:
flight_route_info.isnull().sum().sum()

0

In [33]:
# 공백이 412건
flight_route_info['비고'].value_counts(dropna = False).head()

                        412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2016.10 한 달 운항            2
2017.03.24. 이후 폐선         2
Name: 비고, dtype: int64

In [34]:
flight_route_info_2 = pd.read_csv('../data/flight_route_info.csv',encoding='cp949')

In [35]:
# 결측치가 412건
flight_route_info_2['비고'].value_counts(dropna = False).head()

NaN                     412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2016.10 한 달 운항            2
2017.03.24. 이후 폐선         2
Name: 비고, dtype: int64

In [37]:
# 결측치를 ''로 처리
# NaN, ' ', ''의 차이는? (아래 예 참고)
flight_route_info_3 = flight_route_info_2.select_dtypes(['object']).fillna('')

In [39]:
flight_route_info_3['비고'].value_counts(dropna =False).head()

                        412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2016.10 한 달 운항            2
2017.03.24. 이후 폐선         2
Name: 비고, dtype: int64

In [40]:
import numpy as np
data1 = 'magic key 1'
data2 = None
data3 = np.nan
data4 = ' '
data5 = ''
data1,data2,data3,data4,data5

('magic key 1', None, nan, ' ', '')