In [151]:
import pandas as pd

## 예제 3-1  시리즈와 데이터프레임 내의 속성 확인 및 리스트 변환

In [152]:
op = pd.read_csv('../data/series_dataframe.csv')

In [153]:
op.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [154]:
op.shape

(264, 3)

In [155]:
(op['Series'] == op['DataFrame']).head()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [156]:
op_eq = op.loc[(op['Series'] == op['DataFrame'])]

In [157]:
op_eq.shape

(190, 3)

In [158]:
op_eq.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [159]:
op_eq.tail()

     Member  Series DataFrame
256  update  update    update
259  values  values    values
260     var     var       var
262   where   where     where
263      xs      xs        xs

In [160]:
op_eq_list = op_eq['Member'].tolist()

In [161]:
op_eq_list

['T',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'sem',
 'set_axis',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [162]:
op_eq_list2 = op_eq['Member'].to_dict()

In [163]:
op_eq_list2

{0: 'T',
 1: 'abs',
 2: 'add',
 3: 'add_prefix',
 4: 'add_suffix',
 5: 'agg',
 6: 'aggregate',
 7: 'align',
 8: 'all',
 9: 'any',
 10: 'append',
 11: 'apply',
 16: 'as_blocks',
 17: 'as_matrix',
 18: 'asfreq',
 20: 'asof',
 22: 'astype',
 23: 'at',
 24: 'at_time',
 26: 'axes',
 29: 'between_time',
 30: 'bfill',
 31: 'blocks',
 32: 'bool',
 35: 'clip',
 36: 'clip_lower',
 37: 'clip_upper',
 39: 'combine',
 40: 'combine_first',
 41: 'compound',
 43: 'consolidate',
 44: 'convert_objects',
 45: 'copy',
 46: 'corr',
 48: 'count',
 49: 'cov',
 50: 'cummax',
 51: 'cummin',
 52: 'cumprod',
 53: 'cumsum',
 55: 'describe',
 56: 'diff',
 57: 'div',
 58: 'divide',
 59: 'dot',
 60: 'drop',
 61: 'drop_duplicates',
 62: 'dropna',
 65: 'dtypes',
 66: 'duplicated',
 67: 'empty',
 68: 'eq',
 69: 'equals',
 71: 'ewm',
 72: 'expanding',
 74: 'ffill',
 75: 'fillna',
 76: 'filter',
 77: 'first',
 78: 'first_valid_index',
 80: 'floordiv',
 82: 'from_csv',
 87: 'ftypes',
 88: 'ge',
 89: 'get',
 90: 'get_dtype_counts',
 91: 'get_ftype_counts',
 92: 'get_value',
 93: 'get_values',
 94: 'groupby',
 95: 'gt',
 97: 'head',
 98: 'hist',
 99: 'iat',
 100: 'idxmax',
 101: 'idxmin',
 102: 'iloc',
 104: 'index',
 105: 'infer_objects',
 108: 'interpolate',
 109: 'is_copy',
 114: 'isin',
 115: 'isna',
 116: 'isnull',
 121: 'ix',
 123: 'keys',
 124: 'kurt',
 125: 'kurtosis',
 126: 'last',
 127: 'last_valid_index',
 128: 'le',
 129: 'loc',
 131: 'lt',
 132: 'mad',
 134: 'mask',
 135: 'max',
 136: 'mean',
 137: 'median',
 139: 'memory_usage',
 141: 'min',
 142: 'mod',
 143: 'mode',
 144: 'mul',
 145: 'multiply',
 148: 'ndim',
 149: 'ne',
 150: 'nlargest',
 152: 'notna',
 153: 'notnull',
 154: 'nsmallest',
 155: 'nunique',
 156: 'pct_change',
 157: 'pipe',
 160: 'plot',
 161: 'pop',
 162: 'pow',
 163: 'prod',
 164: 'product',
 167: 'quantile',
 169: 'radd',
 170: 'rank',
 172: 'rdiv',
 174: 'reindex',
 175: 'reindex_axis',
 176: 'reindex_like',
 177: 'rename',
 178: 'rename_axis',
 179: 'reorder_levels',
 181: 'replace',
 182: 'resample',
 183: 'reset_index',
 185: 'rfloordiv',
 186: 'rmod',
 187: 'rmul',
 188: 'rolling',
 189: 'round',
 190: 'rpow',
 191: 'rsub',
 192: 'rtruediv',
 193: 'sample',
 195: 'select',
 197: 'sem',
 198: 'set_axis',
 200: 'set_value',
 201: 'shape',
 202: 'shift',
 203: 'size',
 204: 'skew',
 205: 'slice_shift',
 206: 'sort_index',
 207: 'sort_values',
 208: 'sortlevel',
 209: 'squeeze',
 211: 'std',
 215: 'sub',
 216: 'subtract',
 217: 'sum',
 218: 'swapaxes',
 219: 'swaplevel',
 220: 'tail',
 221: 'take',
 222: 'to_clipboard',
 223: 'to_csv',
 224: 'to_dense',
 225: 'to_dict',
 226: 'to_excel',
 230: 'to_hdf',
 232: 'to_json',
 233: 'to_latex',
 234: 'to_msgpack',
 237: 'to_period',
 238: 'to_pickle',
 240: 'to_sparse',
 241: 'to_sql',
 243: 'to_string',
 244: 'to_timestamp',
 245: 'to_xarray',
 247: 'transform',
 248: 'transpose',
 249: 'truediv',
 250: 'truncate',
 251: 'tshift',
 252: 'tz_convert',
 253: 'tz_localize',
 255: 'unstack',
 256: 'update',
 259: 'values',
 260: 'var',
 262: 'where',
 263: 'xs'}

## 예제 3-2  연산자와 메소드 계산

In [164]:
college = pd.read_csv('../data/2017_college_tuition.csv',encoding='euc-kr')

In [165]:
college.shape

(196, 3)

In [166]:
college.head()

         학교명 설립구분  평균등록금
0    강릉원주대학교  국공립   4262
1      강원대학교  국공립   4116
2  경남과학기술대학교  국공립   3771
3      경북대학교  국공립   4351
4      경상대학교  국공립   3967

In [167]:
college.dtypes

학교명      object
설립구분     object
평균등록금     int64
dtype: object

In [168]:
college['평균등록금'] = college['평균등록금'] * 1000

In [169]:
college.head()

         학교명 설립구분    평균등록금
0    강릉원주대학교  국공립  4262000
1      강원대학교  국공립  4116000
2  경남과학기술대학교  국공립  3771000
3      경북대학교  국공립  4351000
4      경상대학교  국공립  3967000

In [170]:
(college['평균등록금'] + college['평균등록금']).head()

0    8524000
1    8232000
2    7542000
3    8702000
4    7934000
Name: 평균등록금, dtype: int64

In [171]:
college['평균등록금'].add(college['평균등록금']).head()

0    8524000
1    8232000
2    7542000
3    8702000
4    7934000
Name: 평균등록금, dtype: int64

In [172]:
college['평균등록금'].add(college['평균등록금']).head()

0    8524000
1    8232000
2    7542000
3    8702000
4    7934000
Name: 평균등록금, dtype: int64

In [173]:
help(college['평균등록금'].add)

Help on method add in module pandas.core.ops:

add(other, level=None, fill_value=None, axis=0) method of pandas.core.series.Series instance
    Return Addition of series and other, element-wise (binary operator `add`).

    Equivalent to ``series + other``, but with support to substitute a fill_value for
    missing data in either one of the inputs.

    Parameters
    ----------
    other : Series or scalar value
    fill_value : None or float value, default None (NaN)
        Fill existing missing (NaN) values, and any new element needed for
        successful Series alignment, with this value before computation.
        If data in both corresponding Series locations is missing
        the result of filling (at that location) will be missing.
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.

    Returns
    -------
    Series
        The result of the operation.

    See Also
    --------
    Series.radd : Reverse of the Addition operator, see
        `Python documentation
        <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
        for more details.

    Examples
    --------
    >>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
    >>> a
    a    1.0
    b    1.0
    c    1.0
    d    NaN
    dtype: float64
    >>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
    >>> b
    a    1.0
    b    NaN
    d    1.0
    e    NaN
    dtype: float64
    >>> a.add(b, fill_value=0)
    a    2.0
    b    1.0
    c    1.0
    d    1.0
    e    NaN
    dtype: float64

## 예제 3-3  특정 자료형을 가지고 열을 구분하기

In [174]:
college.head(2)

       학교명 설립구분    평균등록금
0  강릉원주대학교  국공립  4262000
1    강원대학교  국공립  4116000

In [175]:
college.dtypes

학교명      object
설립구분     object
평균등록금     int64
dtype: object

In [176]:
# df.select_dtypes(include =  [선택할타입])
college.select_dtypes(include=['int64']).head()

     평균등록금
0  4262000
1  4116000
2  3771000
3  4351000
4  3967000

In [177]:
# 숫자자료형인 number로도 구분 가능

In [178]:
college.select_dtypes(include=['number']).head()

     평균등록금
0  4262000
1  4116000
2  3771000
3  4351000
4  3967000

In [179]:
college.select_dtypes(include=['object']).head()

         학교명 설립구분
0    강릉원주대학교  국공립
1      강원대학교  국공립
2  경남과학기술대학교  국공립
3      경북대학교  국공립
4      경상대학교  국공립

## 예제 3-4 시리즈 내의 자료값 확인하기

In [180]:
college.head()

         학교명 설립구분    평균등록금
0    강릉원주대학교  국공립  4262000
1      강원대학교  국공립  4116000
2  경남과학기술대학교  국공립  3771000
3      경북대학교  국공립  4351000
4      경상대학교  국공립  3967000

In [181]:
college['평균등록금'].value_counts().head()

3424000    2
7161000    2
4262000    1
5967000    1
7913000    1
Name: 평균등록금, dtype: int64

In [182]:
# normalize=True 인자를 넣어주면 퍼센트(빈도)로 반환

In [183]:
college['평균등록금'].value_counts(normalize=True).head()

3424000    0.010204
7161000    0.010204
4262000    0.005102
5967000    0.005102
7913000    0.005102
Name: 평균등록금, dtype: float64

In [184]:
college['설립구분'].value_counts().head()

사립     156
국공립     40
Name: 설립구분, dtype: int64

In [185]:
college['설립구분'].value_counts(normalize=True).head()

사립     0.795918
국공립    0.204082
Name: 설립구분, dtype: float64

In [186]:
college['설립구분'].head()

0    국공립
1    국공립
2    국공립
3    국공립
4    국공립
Name: 설립구분, dtype: object

In [187]:
# duplicated 함수를 사용하면 중복되는 값부터 True로 반환

In [188]:
college['설립구분'].duplicated().head()

0    False
1     True
2     True
3     True
4     True
Name: 설립구분, dtype: bool

In [189]:
college['설립구분'].unique()

array(['국공립', '사립'], dtype=object)

## 예제 3-5 내부 구성 값이 크기 비교

In [190]:
college['평균등록금'].nlargest(5)

173    9004000
132    8824000
128    8649000
147    8526000
146    8499000
Name: 평균등록금, dtype: int64

In [191]:
college['평균등록금'].nsmallest(5)

61           0
157    1760000
137    2000000
20     2390000
15     3024000
Name: 평균등록금, dtype: int64

In [192]:
college.nlargest(5,'평균등록금')

           학교명 설립구분    평균등록금
173  한국산업기술대학교   사립  9004000
132      연세대학교   사립  8824000
128      신한대학교   사립  8649000
147    이화여자대학교   사립  8526000
146      을지대학교   사립  8499000

In [193]:
college.nsmallest(5,'평균등록금')

          학교명 설립구분    평균등록금
61   광주가톨릭대학교   사립        0
157   중앙승가대학교   사립  1760000
137   영산선학대학교   사립  2000000
20    서울시립대학교  국공립  2390000
15    부산교육대학교  국공립  3024000

## 예제 3-6/7 시리즈만 가지는 메소드

In [194]:
op = pd.read_csv('../data/series_dataframe.csv')

In [195]:
op_not = op.loc[(op['Series'] != op['DataFrame'])]

In [196]:
op_not.head()

      Member    Series DataFrame
12  applymap       NaN  applymap
13    argmax    argmax       NaN
14    argmin    argmin       NaN
15   argsort   argsort       NaN
19  asobject  asobject       NaN

In [197]:
op_not.shape

(74, 3)

In [198]:
op_ser = op_not['Series'].dropna()

In [199]:
op_ser_list = op_ser.tolist()

In [201]:
import types

In [202]:
count = 0
for i in op_ser_list :     
    try :
        
        if type(pd.Series.__dict__[i])  ==  types.FunctionType :
            print(i, end=',  ')
            count += 1
            if count % 5 == 0 :
                print()
    except Exception as e :
        pass

argsort,  autocorr,  between,  items,  iteritems,
map,  ravel,  repeat,  searchsorted,  to_frame,
unique,  view,

In [ ]:
import seaborn as sns

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
iris.columns

In [ ]:
iris.head()

## 예제 3-8 인덱스 변경 및 대체

In [ ]:
s = pd.Series([1,2,3,4])

In [ ]:
s

In [ ]:
s_re = s.rename({0:'a',1:'b',2:'c',3:'d'})

In [ ]:
s_re

In [ ]:
# reindex에 지정되지 않은 행 인덱스의 값은 NaN으로 표기

In [ ]:
s_re.reindex(['a','b','c','e'])

In [ ]:
# reindex에 지정된 행만 필터링
s_re.reindex(['a','b','c'])

In [ ]:
# reindex로 지정된 행 인덱스 순서로 정렬
s_re.reindex(['c','b','a'])

In [ ]:
s1 = pd.Series([10,20,30], index=[0,1,2])

In [ ]:
s1

In [ ]:
s1.index.dtype

In [ ]:
s2 = pd.Series([1,2,3], index=list('012'))

In [ ]:
s2

In [ ]:
s2.index.dtype

In [ ]:
# s1, s2의 인덱스 타입이 맞지 않아 정상적인 연산 불가

In [ ]:
s1 + s2

In [ ]:
s2.index = [0,1,2]

In [ ]:
s1 + s2

In [ ]:
s3 = pd.Series([11,12,13], index=list('012'))

In [ ]:
s3

In [ ]:
s3.index

In [ ]:
# 인덱스를 rename함수를 통하여 정수로 변경
s3 = s3.rename({'0':0, '1':1,'2':2})

In [ ]:
s1

In [ ]:
s3

In [ ]:
s1 + s3

In [ ]:
s4 = pd.Series([11,12,13], index=list('012'))

In [ ]:
s4.index.values

In [ ]:
s4.index = s4.index.values.astype('int64')

In [ ]:
s1 + s4