In [2]:
import pandas as pd

## 예제 2-4 파일에 저장된 멤버 정보를 읽어와서 확인하기

In [3]:
df_f = pd.read_csv('../data/series_dataframe.csv',usecols=['Member','Series','DataFrame'],encoding = 'euc-kr')

In [4]:
df_f.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [5]:
# 1행을 헤더로 사용하였기 때문에 전체 데이터는 헤더를 제외한 264가 된다.
df_f.shape

(264, 3)

In [6]:
df_f['Series'].head()

0             T
1           abs
2           add
3    add_prefix
4    add_suffix
Name: Series, dtype: object

In [9]:
# Series 열에 데이터가 없는 셀의 총합
df_f['Series'].isnull().sum()

29

In [10]:
df_f['Series'].head(15)

0              T
1            abs
2            add
3     add_prefix
4     add_suffix
5            agg
6      aggregate
7          align
8            all
9            any
10        append
11         apply
12           NaN
13        argmax
14        argmin
Name: Series, dtype: object

In [ ]:
# isnull() 결측치를 찾는 함수
# 결측치 : 데이터가 없는(정의되지 않는) 값
df_f['DataFrame'].isnull().sum()

In [11]:
(df_f['Member'] == df_f['Series']).head()

0    True
1    True
2    True
3    True
4    True
dtype: bool