In [1]:
import pandas as pd
import numpy as np
import datetime
import time

In [2]:
pd.DataFrame([1,2,3])

   0
0  1
1  2
2  3

In [3]:
date1 = datetime.date(2022,8,28)
date1

datetime.date(2022, 8, 28)

In [4]:
date2 = datetime.date(2023,2,28)
date2

datetime.date(2023, 2, 28)

In [148]:
date_info =[]
date_info.append(date2.year)
date_info.append(date2.month)
date_info.append(date2.day)
date_info

[2023, 2, 28]

In [11]:
df = pd.DataFrame([date1,date2], index = ['개강일','종강일'] , columns = ['더조은 6기'])
df

         더조은 6기
개강일  2022-08-28
종강일  2023-02-28

#### 문제: 위 데이터프레임은 더조은학원 6기반의 개강일과 종강일이다.
#### 이 반의 총 강의 일자를 구하고 현재시간의 일자를 통해 지금까지 강의 받은 날짜와 앞으로 강의 받을 날짜를 구해보자.

답1

In [21]:
total_day = df.iloc[1][0] - df.iloc[0][0]
print(f'총 강의 일자: {total_day.days}일')

총 강의 일자: 184일

In [22]:
df

         더조은 6기
개강일  2022-08-28
종강일  2023-02-28

In [23]:
'2022,12,09'

'2022,12,09'

답 2-1

In [24]:
year1 = int(time.strftime('%Y',time.localtime(time.time())))
year1

2022

In [25]:
month1 = int(time.strftime('%m',time.localtime(time.time())))
month1

12

In [30]:
day1 = int(time.strftime('%d',time.localtime(time.time())))
day1

9

In [31]:
current_day = datetime.date(year1,month1,day1)
current_day

datetime.date(2022, 12, 9)

In [32]:
before_day = current_day - df.iloc[0][0]
print(f'지금까지 강의 받은 날짜: {before_day.days}일')

지금까지 강의 받은 날짜: 103일

In [36]:
next_day = df.iloc[1][0] - current_day
print(f'앞으로 강의 받을 날짜: {next_day.days}일')

앞으로 강의 받을 날짜: 81일

답 2-2

In [37]:
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=9, tm_hour=18, tm_min=23, tm_sec=11, tm_wday=4, tm_yday=343, tm_isdst=0)

In [38]:
year2 = time.localtime(time.time()).tm_year
year2

2022

In [39]:
month2 = time.localtime(time.time()).tm_mon
month2

12

In [40]:
day2 = time.localtime(time.time()).tm_mday
day2

9

In [41]:
current_day2 = datetime.date(year2,month2,day2)
current_day2

datetime.date(2022, 12, 9)

In [42]:
before_day = current_day2 - df.iloc[0][0]
print(f'지금까지 강의 받은 날짜: {before_day.days}일')

지금까지 강의 받은 날짜: 103일

In [44]:
next_day = df.iloc[1][0] - current_day2
print(f'앞으로 강의 받을 날짜: {next_day.days}일')

앞으로 강의 받을 날짜: 81일