In [1]:
import pandas as pd
import numpy as np
import datetime
import time

In [2]:
pd.DataFrame([1,2,3])

   0
0  1
1  2
2  3

In [3]:
date1 = datetime.date(2022,8,28)
date1

datetime.date(2022, 8, 28)

In [4]:
date2 = datetime.date(2023,2,28)
date2

datetime.date(2023, 2, 28)

In [5]:
date_info =[]
date_info.append(date2.year)
date_info.append(date2.month)
date_info.append(date2.day)
date_info

[2023, 2, 28]

In [6]:
df = pd.DataFrame([date1,date2], index = ['개강일','종강일'] , columns = ['더조은 6기'])
df

         더조은 6기
개강일  2022-08-28
종강일  2023-02-28

#### 문제: 위 데이터프레임은 더조은학원 6기반의 개강일과 종강일이다.
#### 이 반의 총 강의 일자를 구하고 현재시간의 일자를 통해 지금까지 강의 받은 날짜와 앞으로 강의 받을 날짜를 구해보자.

답1

In [7]:
total_day = df.iloc[1][0] - df.iloc[0][0]
print(f'총 강의 일자: {total_day.days}일')

총 강의 일자: 184일

In [8]:
df

         더조은 6기
개강일  2022-08-28
종강일  2023-02-28

In [9]:
'2022,12,09'

'2022,12,09'

답 2-1

In [10]:
year1 = int(time.strftime('%Y',time.localtime(time.time())))
year1

2022

In [11]:
month1 = int(time.strftime('%m',time.localtime(time.time())))
month1

12

In [12]:
day1 = int(time.strftime('%d',time.localtime(time.time())))
day1

12

In [13]:
current_day = datetime.date(year1,month1,day1)
current_day

datetime.date(2022, 12, 12)

In [14]:
before_day = current_day - df.iloc[0][0]
print(f'지금까지 강의 받은 날짜: {before_day.days}일')

지금까지 강의 받은 날짜: 106일

In [15]:
next_day = df.iloc[1][0] - current_day
print(f'앞으로 강의 받을 날짜: {next_day.days}일')

앞으로 강의 받을 날짜: 78일

답 2-2

In [16]:
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=12, tm_hour=9, tm_min=34, tm_sec=28, tm_wday=0, tm_yday=346, tm_isdst=0)

In [17]:
time_now = time.localtime(time.time())

In [18]:
current_day2 = datetime.date(time_now.tm_year,time_now.tm_mon,time_now.tm_mday)
current_day2

datetime.date(2022, 12, 12)

In [19]:
before_day = current_day2 - df.iloc[0][0]
print(f'지금까지 강의 받은 날짜: {before_day.days}일')

지금까지 강의 받은 날짜: 106일

In [20]:
next_day = df.iloc[1][0] - current_day2
print(f'앞으로 강의 받을 날짜: {next_day.days}일')

앞으로 강의 받을 날짜: 78일