# 문제1

학생 A,B,C 의 국어, 영어, 수학 점수를 DataFrame으로 만드세요.

A : 국어(80), 영어(90), 수학(100)
B : 국어(90), 영어(80), 수학(80)
C : 국어(100), 영어(70), 수학(80)

In [1]:
# 코드
import pandas as pd

In [2]:
score = pd.DataFrame([[80,90,100],[90,80,80],[100,70,80]],
                    index = ['A','B','C'],
                    columns = ['국어','영어','수학'])
score

    국어  영어   수학
A   80  90  100
B   90  80   80
C  100  70   80

# 문제2

위 점수 DataFrame 에서 학생별 과목 총 합을 구하세요.

In [3]:
# 코드
score.sum(axis=1)

A    270
B    250
C    250
dtype: int64