In [1]:
import json

In [2]:
def open_json(file_name, encoding):
    with open(file_name, encoding=encoding) as json_file: 
        json_object = json.load(json_file)
        json_string = json.dumps(json_object)
        json_data = json.loads(json_string)
    return json_data

In [3]:
json_data = open_json('student_zero2.json','cp949')
json_data

UnicodeDecodeError: 'cp949' codec can't decode byte 0xbd in position 252: illegal multibyte sequence

In [31]:
column_list=[]
all_data=[]
is_first=True
for student in json_data['response']['body']['student_list']:
    row_data_list=[]
    for key, value in student.items():
        if is_first:
            column_list.append(key)
        row_data_list.append(value)
    all_data.append(row_data_list)
    is_first=False

In [32]:
all_data

[[45, '경영학', '영호', '남'], [30, '정치외교', '세중', '남'], [30, '신문방송학', '치우', '남']]

In [33]:
column_list

['age', 'major', 'name', 'sex']

In [34]:
import pandas as pd
df = pd.DataFrame(all_data, columns=column_list)
df

   age  major name sex
0   45    경영학   영호   남
1   30   정치외교   세중   남
2   30  신문방송학   치우   남

In [42]:
df.to_csv("student_zero2.csv", encoding='UTF-8',index = False)