In [16]:
import pandas as pd

## 예제 1-11 한글 인코딩 알아보기

In [17]:
get_ipython().system('pip install chardet')

Requirement already satisfied: chardet in c:\users\tj\anaconda3\lib\site-packages (4.0.0)

In [18]:
import chardet

In [19]:

def find_encoding(fname):
    r_file = open(fname,'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

In [20]:
# 판다스에서 제공하는 read_csv함수는 csv파일 전용함수 
my_encoding1 = find_encoding('../data/weight_loss.csv')
df_1 = pd.read_csv('../data/weight_loss.csv', encoding = my_encoding1)

In [21]:
my_encoding1
# 저장된 인코딩 타입 확인

'EUC-KR'

In [24]:
try :
    pd.read_csv('../data/weight_loss.csv',encoding = "utf-8")
except Exception as e :
    print(e)

In [26]:
# head()함수는 인수를 지정하지 않을 경우, 파일의 5행 샘플 데이터를 보여준다
# 인수를 지정하면 지정한 인수만큼의 행을 샘플 데이터로 보여준다
df_1.head()

   이름   월   주  몸무게
0  지완  1월  1주   70
1  찬준  1월  1주   60
2  지완  1월  2주   69
3  찬준  1월  2주   59
4  지완  1월  3주   69
5  찬준  1월  3주   59
6  지완  1월  4주   69
7  찬준  1월  4주   59
8  지완  2월  1주   69
9  찬준  2월  1주   59

In [27]:
df_1

    이름   월   주  몸무게
0   지완  1월  1주   70
1   찬준  1월  1주   60
2   지완  1월  2주   69
3   찬준  1월  2주   59
4   지완  1월  3주   69
5   찬준  1월  3주   59
6   지완  1월  4주   69
7   찬준  1월  4주   59
8   지완  2월  1주   69
9   찬준  2월  1주   59
10  지완  2월  2주   68
11  찬준  2월  2주   58
12  지완  2월  3주   67
13  찬준  2월  3주   57
14  지완  2월  4주   66
15  찬준  2월  4주   56
16  지완  3월  1주   66
17  찬준  3월  1주   56
18  지완  3월  2주   66
19  찬준  3월  2주   56
20  지완  3월  3주   65
21  찬준  3월  3주   55
22  지완  3월  4주   64
23  찬준  3월  4주   54
24  지완  4월  1주   63
25  찬준  4월  1주   53
26  지완  4월  2주   63
27  찬준  4월  2주   53
28  지완  4월  3주   63
29  찬준  4월  3주   53
30  지완  4월  4주   62
31  찬준  4월  4주   52

In [61]:
# 데이터의 행은 32행 
df_1.shape

(32, 4)

In [34]:
my_encoding2 = find_encoding('../data/korea_movie_list.csv')
df_2 = pd.read_csv('../data/korea_movie_list.csv',encoding = my_encoding2)

In [35]:
my_encoding2

'CP949'

In [37]:
try:
    pd.read_csv('../data/korea_movie_list.csv',encoding = 'utf-8')
except Exception as e:
    print(e)

'utf-8' codec can't decode byte 0xc7 in position 139: invalid continuation byte

In [39]:
df_2.head(2)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN

In [51]:
df_2

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN
2,20187641,극장판 도라에몽: 진구의 보물섬,NaN,107.0,2018,20180815,개봉예정,장편,일본,애니메이션/SF/어드벤처,이마이 카즈아키,윤아영/김정아/조현정/최낙윤/이현주/임은정/김정은/이지현/이경태/강은애/박성영/이다...,"2D,디지털더빙",전체관람가
3,20187427,명탐정 코난 : 제로의 집행인,Detective Conan: Zero the Enforcer,110.0,2018,20180808,개봉예정,장편,일본,애니메이션,타치카와 유즈루,타카야마 미나미/야마자키 와카나/코야마 리키야/푸루야 토루,"2D,디지털/2D,디지털더빙",12세이상관람가
4,20173732,살아남은 아이,Last Child,123.0,2017,20180830,개봉예정,장편,한국,드라마,신동석,최무성/김여진/성유빈,"2D,디지털",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2822,20168162,여간호사의 쾌감,Sexy nurse 3,60.0,2015,20170102,개봉,장편,일본,성인물(에로),타나카 야스후미,카토 츠바키,"2D,디지털",청소년관람불가
2823,20167543,엑소시즘 2017,Evil Born (12/12/12),85.0,2012,20170102,개봉,장편,미국,공포(호러),자레드 콘,사라 말라쿨 레인/지저스 게바라/스티브 행크스,"2D,디지털",청소년관람불가
2824,20168153,선배부인과 비밀공유,"The glossy and beautifl widow ""I'm sorry, hone...",54.0,2015,20170102,개봉,장편,일본,성인물(에로),칸바라 나오토,타카사카 호나미,"2D,디지털",청소년관람불가
2825,20168186,불륜녀의 황홀한 입맞춤,Affair party,60.0,2015,20170102,개봉,장편,일본,성인물(에로),와타나베 모토츠구,혼다 리코/요코야마 미레이,"2D,디지털",청소년관람불가
2826,20168152,대머리 오일마사지사,Lonely aunt Confessions of abstinence Miku Aoki,63.0,2015,20170102,개봉,장편,일본,성인물(에로),칸바라 나오토,마키노 하루카,"2D,디지털",청소년관람불가

In [48]:
# 과거에 engine='python' 지정하면 모든 한글 타입에대하여 처리했으나 현재는 지원하지 않는다
# 따라서 사용하지 말 것
df_3 = pd.read_csv('../data/korea_movie_list.csv', engine = 'python')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc7 in position 139: invalid continuation byte

In [56]:
df_3 = pd.read_csv('../data/korea_movie_list.csv', encoding = 'cp949')

In [54]:
df_3.head(2)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN

In [43]:
# engine 옵션은 쓰지 말 것
try:
    pd.read_csv('../data/korea_movie_list.csv',engine = 'c')
except Exception as e :
    print(e)

'utf-8' codec can't decode byte 0xc7 in position 139: invalid continuation byte

In [44]:
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/attention.csv'

In [59]:
# url주소로 csv를 읽어오기가 가능하다
df_att = pd.read_csv(url)

In [46]:
df_att.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [47]:
# drop('열이름',axis = 1) 열이름의 열을 생략하고 보여준다
df_att.drop('Unnamed: 0',axis = 1).head()

   subject attention  solutions  score
0        1   divided          1    2.0
1        2   divided          1    3.0
2        3   divided          1    3.0
3        4   divided          1    5.0
4        5   divided          1    4.0