In [1]:
import pandas as pd

# 예제 1-2 검색과 슬라이싱 편리성

In [2]:
ser = pd.Series([1,2,3])

In [3]:
df = pd.DataFrame(ser)

In [4]:
df

   0
0  1
1  2
2  3

In [11]:
# 데이터프레임워크[열조건]
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [6]:
# iloc => 행과 열의 인덱스로 데이터를 필터링
# iloc[행인덱스,열인덱스]
df.iloc[0]

0    1
Name: 0, dtype: int64

In [7]:
df.iloc[0,0]

1

In [8]:
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [9]:
# 0번째 열 시리즈의 첫번째 값이므로 1을 반환
df[0][0]

1