In [2]:
import pandas as pd

# 예제 1-6 __getitem__ 이해하기

In [4]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],index = ['a','b'],columns = ['가','나','다','라'])

In [5]:
df

   가  나  다  라
a  1  2  3  4
b  5  6  7  8

In [6]:
df['나']

a    2
b    6
Name: 나, dtype: int64

In [7]:
df.__getitem__('나')

a    2
b    6
Name: 나, dtype: int64

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
ser = df['나']

In [10]:
ser

a    2
b    6
Name: 나, dtype: int64

In [11]:
ser['a']

2

In [12]:
ser.__getitem__('a')

2

In [13]:
type(ser)

pandas.core.series.Series

In [14]:
ser.__getitem__(ser>3)

b    6
Name: 나, dtype: int64

In [15]:
df.__getitem__(df>3)

     가    나    다  라
a  NaN  NaN  NaN  4
b  5.0  6.0  7.0  8

In [18]:
type(df['나']['b'])

numpy.int64

In [19]:
type(df['나']['a'])

numpy.int64