In [1]:
import pandas as pd

# 예제 4-5 날짜 인덱스 생성 및 속성 보기

In [3]:
# 날짜를 기준으로 표현한 데이터: 시계열(Time Series) 데이터
# 예) 주가정보, 은행거래내역, 환율, 부동산 매매가 등
# date_range([기분 Date], periods = N)  => 기준일로 N번째 일까지 DatetimeIndex 생성
idx_d = pd.Index(pd.date_range('20130101',periods = 3))

In [4]:
idx_d

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03'], dtype='datetime64[ns]', freq='D')

In [5]:
# 년-월-일 T시:분:초.밀리초
idx_d.values

array(['2013-01-01T00:00:00.000000000', '2013-01-02T00:00:00.000000000',
       '2013-01-03T00:00:00.000000000'], dtype='datetime64[ns]')

In [6]:
# date 빈도확인 (freq) (단위)
idx_d.freq

In [8]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])

In [9]:
data = pd.Series([0,1,2,3], index = index)

In [10]:
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [11]:
index

DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'], dtype='datetime64[ns]', freq=None)

In [12]:
index.shape

(4,)

In [13]:
# DatetimeIndex 의 dtype은 '<N8[ns]'로 표시
index.dtype

dtype('<M8[ns]')

# 예제 4-6 타임에대한 빈도 이해하기

### 시간에대한 코드
#### Y: Year, M: Month, W : Week, D: day, h: Hour, m: Minute, s: Second
#### ms: Millisecond, us: Microsecond, ns: Nanosecond, ps: Picosecond, fs: Femtosecond

In [14]:
# date_range(시작일,종료일)는 마지막 날짜를 포함한다
dr1 = pd.date_range('2018-07-03','2018-07-10')

In [15]:
dr1

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
dr2 = pd.date_range('2018-07-03',periods = 8)

In [17]:
dr2

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [18]:
dr3 = pd.date_range('2018-08-03', periods = 24, freq = 'H')

In [19]:
dr3

DatetimeIndex(['2018-08-03 00:00:00', '2018-08-03 01:00:00',
               '2018-08-03 02:00:00', '2018-08-03 03:00:00',
               '2018-08-03 04:00:00', '2018-08-03 05:00:00',
               '2018-08-03 06:00:00', '2018-08-03 07:00:00',
               '2018-08-03 08:00:00', '2018-08-03 09:00:00',
               '2018-08-03 10:00:00', '2018-08-03 11:00:00',
               '2018-08-03 12:00:00', '2018-08-03 13:00:00',
               '2018-08-03 14:00:00', '2018-08-03 15:00:00',
               '2018-08-03 16:00:00', '2018-08-03 17:00:00',
               '2018-08-03 18:00:00', '2018-08-03 19:00:00',
               '2018-08-03 20:00:00', '2018-08-03 21:00:00',
               '2018-08-03 22:00:00', '2018-08-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [20]:
# to_period(기간)를 D(날짜)로 변경 => 시간정보 삭제
dr3.to_period('D')

PeriodIndex(['2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03'],
            dtype='period[D]')

In [22]:
# 2018년 1월부터 13기간 단위 월 범위의 기간인덱스를 변수 dr_m 할당
dr_m = pd.period_range('2018-01', periods = 13, freq = 'M')

In [23]:
dr_m

PeriodIndex(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
             '2019-01'],
            dtype='period[M]')

In [24]:
# 0 days 를 기준으로 10기간의 단위 시간 범위의 타임델타 인덱스를 변수 tm_1에 할당
tm_1 = pd.timedelta_range(0, periods = 10, freq = 'H')

In [25]:
tm_1

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [26]:
tm_1[1]

Timedelta('0 days 01:00:00')

In [27]:
# tm_1 과 tm_1[1]은 시간 정보를 담고 있으므로 연산자 연산 가능하다.
tm_1 - tm_1[1]

TimedeltaIndex(['-1 days +23:00:00',   '0 days 00:00:00',   '0 days 01:00:00',
                  '0 days 02:00:00',   '0 days 03:00:00',   '0 days 04:00:00',
                  '0 days 05:00:00',   '0 days 06:00:00',   '0 days 07:00:00',
                  '0 days 08:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [28]:
dr2

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [29]:
# DatetimeIndex도 시간정보를 담고 있으므로 연산자 연산 가능하다.
dr2 - dr2[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days', '5 days',
                '6 days', '7 days'],
               dtype='timedelta64[ns]', freq=None)

###### 분단위로 인덱스 만들기

In [31]:
index = pd.date_range('1/1/2018', periods = 9, freq = 'T')
# freq = 'T'의 디폴트는 분단위

In [32]:
series = pd.Series(range(9), index = index)

In [33]:
series

2018-01-01 00:00:00    0
2018-01-01 00:01:00    1
2018-01-01 00:02:00    2
2018-01-01 00:03:00    3
2018-01-01 00:04:00    4
2018-01-01 00:05:00    5
2018-01-01 00:06:00    6
2018-01-01 00:07:00    7
2018-01-01 00:08:00    8
Freq: T, dtype: int64

# 예제 4-7 날짜 인덱스 활용하기

In [34]:
# index_col ='Date' 인덱스 열은 Date열 parse_dates = True 시계열 데이터를 자동으로 인덱스화 한다
data = pd.read_csv('../data/hanriver_bridge.csv', index_col ='Date', parse_dates = True, encoding = 'cp949' )

In [35]:
data.head()

                     한강 좌측 인도  한강 우측 인도
Date
2012-10-03 00:00:00       4.0       9.0
2012-10-03 01:00:00       4.0       6.0
2012-10-03 02:00:00       1.0       1.0
2012-10-03 03:00:00       2.0       3.0
2012-10-03 04:00:00       6.0       1.0

In [36]:
data.columns

Index(['한강 좌측 인도', '한강 우측 인도'], dtype='object')

In [37]:
data.index

DatetimeIndex(['2012-10-03 00:00:00', '2012-10-03 01:00:00',
               '2012-10-03 02:00:00', '2012-10-03 03:00:00',
               '2012-10-03 04:00:00', '2012-10-03 05:00:00',
               '2012-10-03 06:00:00', '2012-10-03 07:00:00',
               '2012-10-03 08:00:00', '2012-10-03 09:00:00',
               ...
               '2018-05-31 14:00:00', '2018-05-31 15:00:00',
               '2018-05-31 16:00:00', '2018-05-31 17:00:00',
               '2018-05-31 18:00:00', '2018-05-31 19:00:00',
               '2018-05-31 20:00:00', '2018-05-31 21:00:00',
               '2018-05-31 22:00:00', '2018-05-31 23:00:00'],
              dtype='datetime64[ns]', name='Date', length=49608, freq=None)

In [38]:
data.columns=['좌측','우측']

In [40]:
# eval(열이름 연산자 열이름) : 열이름의 값들을 연산자로 연산하여 열로 배치한다
data['합산'] = data.eval('좌측 + 우측')

In [41]:
data.head()

                      좌측   우측    합산
Date
2012-10-03 00:00:00  4.0  9.0  13.0
2012-10-03 01:00:00  4.0  6.0  10.0
2012-10-03 02:00:00  1.0  1.0   2.0
2012-10-03 03:00:00  2.0  3.0   5.0
2012-10-03 04:00:00  6.0  1.0   7.0

In [42]:
data.isnull().sum()

좌측    8
우측    8
합산    8
dtype: int64

In [43]:
data.shape

(49608, 3)

In [44]:
data_dp = data.dropna()

In [45]:
data_dp.shape

(49600, 3)

In [46]:
# resample('D') 일단위로 데이터 집계
daily = data.resample('D').sum()

In [47]:
daily.head()

                좌측      우측      합산
Date
2012-10-03  1760.0  1761.0  3521.0
2012-10-04  1708.0  1767.0  3475.0
2012-10-05  1558.0  1590.0  3148.0
2012-10-06  1080.0   926.0  2006.0
2012-10-07  1191.0   951.0  2142.0

In [48]:
# 주단위로 다시 샘플링(resample('W'))하고 평균을 계산(mean())하여 변수 weekly_r에 할당
weekly_r = data.resample('W').mean()

In [50]:
weekly_r.head()

                   좌측         우측          합산
Date
2012-10-07  60.808333  58.291667  119.100000
2012-10-14  51.660714  48.309524   99.970238
2012-10-21  47.297619  45.017857   92.315476
2012-10-28  41.077381  38.904762   79.982143
2012-11-04  38.142857  34.440476   72.583333

In [52]:
# asfreq(빈도) : 빈도별로 데이터 샘플링
weekly_f = data.asfreq('W')

In [53]:
weekly_f

              좌측    우측    합산
Date
2012-10-07   6.0   5.0  11.0
2012-10-14   3.0   3.0   6.0
2012-10-21   5.0  12.0  17.0
2012-10-28   5.0   5.0  10.0
2012-11-04   7.0  11.0  18.0
...          ...   ...   ...
2018-04-29   5.0  15.0  20.0
2018-05-06   6.0   5.0  11.0
2018-05-13  10.0  14.0  24.0
2018-05-20   3.0  11.0  14.0
2018-05-27   2.0   3.0   5.0

[295 rows x 3 columns]

In [54]:
data.loc['2012-10-07'].head()

                       좌측   우측    합산
Date
2012-10-07 00:00:00   6.0  5.0  11.0
2012-10-07 01:00:00  12.0  5.0  17.0
2012-10-07 02:00:00   2.0  1.0   3.0
2012-10-07 03:00:00   4.0  2.0   6.0
2012-10-07 04:00:00   1.0  2.0   3.0