# Step2] 펭귄 종류 예측
* Seaborn에 있는 펭귄데이터에 펭귄 종을 예측
 - 2개 종을 예측 할 수 있도록 데이터 전처리 및 모든 조합의 모델 생성  
   (Adelie, Chinstrap, Gentoo)
   - Adelie, Chinstrap
   - Adelie, Gentoo
   - Chinstrap, Gentoo

In [2]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [3]:
import seaborn as sns
penguins = sns.load_dataset('penguins')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female