### 문제1: 회원의 정보를 가진 2차원 배열 만들기

In [23]:
import pandas as pd

member_data = [
    ['red','김레드','서울'],
    ['orange','오렌지','제주'],
    ['blue','이블루','울산']
]
member_df = pd.DataFrame(member_data, 
                         columns=['아이디','이름','주소'])
member_df

      아이디   이름  주소
0     red  김레드  서울
1  orange  오렌지  제주
2    blue  이블루  울산

### 문제2 : 회원의 이름 목록 출력하기

In [5]:
# 코드
member_df['이름']

0    김레드
1    오렌지
2    이블루
Name: 이름, dtype: object