# 문제1

In [2]:
import pandas as pd

In [3]:
# 1. market이라는 파일을 열고, 첫번째 열을 고정해라
# 2. market의 총 행과 열을 구해라
# 3. market의 '10월 가격'만 나타내라
# 4. 가격이 500원 이상 감소된 행을 나타내라
# 5. 가격이 500원 초가된 값만을 나타내라
# 6. 품종 열의 모든값을 나타내라

In [36]:
market = pd.read_csv("../data/market.csv", encoding='euc-kr').dropna(axis=1)

In [37]:
market.head()

  품  종  품   목  단 위  10월 가격  9월 가격    증가   감소       등록기준일
0  곡물류      쌀   1포   39000  38000  1000    0  2022-11-08
1  곡물류    보리쌀  1kg    2500   3000     0  500  2022-11-08
2  곡물류  찹   쌀  1kg    3000   3000     0    0  2022-11-08
3  육란류  달   걀  10개    2500   2500     0    0  2022-11-08
4  육란류    닭고기  1마리    6500   5700   800    0  2022-11-08

In [32]:
market.shape

(34, 8)

In [38]:
market['10월 가격']

0     39000
1      2500
2      3000
3      2500
4      6500
5     60000
6      3500
7      5000
8     40000
9      5000
10    11000
11     6000
12     8000
13     4000
14     1500
15     4000
16     1500
17     1000
18     1000
19     5000
20     3000
21     4000
22     1500
23     4000
24     4000
25      700
26    13000
27     5000
28     7000
29     8000
30     4000
31     5000
32     5000
33     7000
Name: 10월 가격, dtype: int64

In [42]:
(market['감소'] >= 500)

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15     True
16    False
17    False
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: 감소, dtype: bool

In [41]:
market[market['증가'] > 500]

   품  종  품   목   단 위  10월 가격  9월 가격    증가  감소       등록기준일
0   곡물류      쌀    1포   39000  38000  1000   0  2022-11-08
4   육란류    닭고기   1마리    6500   5700   800   0  2022-11-08
7   채소등    고구마   1kg    5000   4000  1000   0  2022-11-08
11  채소등      무    1개    6000   5000  1000   0  2022-11-08
13  채소등  버   섯  100g    4000   2500  1500   0  2022-11-08
24  과일류  사   과    1개    4000   3000  1000   0  2022-11-08
26  수산물  갈   치   1마리   13000  10000  3000   0  2022-11-08

In [56]:
market.xs("품  종",1)

0     곡물류
1     곡물류
2     곡물류
3     육란류
4     육란류
5     육란류
6     채소등
7     채소등
8     채소등
9     채소등
10    채소등
11    채소등
12    채소등
13    채소등
14    채소등
15    채소등
16    채소등
17    채소등
18    채소등
19    채소등
20    채소등
21    채소등
22    채소등
23    과일류
24    과일류
25    과일류
26    수산물
27    수산물
28    수산물
29    수산물
30    수산물
31    수산물
32    수산물
33    수산물
Name: 품  종, dtype: object